<template>
  <div>
    <div class=" text-left">
      <div class="relative inline-block ">
        <div class="font-bold text-base" style="padding-bottom: 10px">Q{{ index }}</div>
      </div>
    </div>
    <div v-html="question" class="mb-5 text-left">
    </div>
  </div>
</template>
<style lang="scss" scoped>
  .angled-line {
    
    -moz-transform: skew(-70deg);
    -webkit-transform: skew(-70deg);
    transform: skew(-70deg);
  }
</style>
<script setup lang="ts">

interface Props{
  index: number;
  question: string;
}
const props = defineProps<Props>()
</script>