<template>
  <div class="w-full py-2 text-xs">
    
    <div class="px-1">
      <div class="mb-5">
        <div class="text-left  font-semibold">顧客基本情報</div>
        <table class="w-full border-collapsed border text-gray-500">
          <tbody>
            <tr class="border">
              <th class=" bg-primary-light">お名前</th>
              <td class="">{{ prescript.customer.first_name }}{{ prescript.customer.last_name }}</td>
            </tr>
            <tr class="border">
              <th class=" bg-primary-light">性別</th>
            <td class="">{{ prescript.customer.get_gender_display }}</td>
            </tr>
            <tr class="border">
              <th class=" bg-primary-light">生年月日</th>
              <td class="">{{ prescript.customer.birthday }}</td>
            </tr>
            <tr class="border">
              <th class=" bg-primary-light">年齢</th>
              <td class="" :class="{ 'bg-yellow-200': prescript.customer.age >= 65 || prescript.customer.age < 20 }" >{{ prescript.customer.age }}歳</td>
            </tr>
            
            
          </tbody>
        </table>
      </div>
      <div class="mb-5">
        <div class="text-left  font-semibold">過去のPesod利用状況</div>
        <table class="w-full border-collapsed border text-gray-500 ">
          <tbody>
            <tr class="border">
              <th class="bg-primary-light">診療回数</th>
              <td>{{ prescript.customer.prescription_times }}回</td>
            </tr>
            <tr class="border">
              <th class=" bg-primary-light">定期購入</th>
              <td>{{ prescript.customer.has_subscribing ? 'あり' : 'なし' }}</td>
            </tr>
           
            <tr class="border">
              <th class=" bg-primary-light">注文回数</th>
              <td>{{ prescript.customer.order_times }}回</td>
            </tr>
            
            
            
          </tbody>
        </table>
      </div>
      <div
        v-if="loadingAnswers"
      >
        <div
          v-for="i in 3"
          :key="i"
          class="mb-3 rounded-tr rouned-br rounded-bl p-2 w-full mx-auto">
          <div class="animate-pulse flex space-x-4">
              <div class="flex-1 space-y-4 py-1">
                <div class="space-y-2">
                  <div class="h-4 bg-blue-100 rounded"></div>
                  <div class="h-4 bg-blue-100 rounded"></div>
                  <div class="h-4 bg-blue-100 rounded"></div>
                  
                </div>

            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <div
          v-for="(a, i) in answers"
          :key="i"
          class="mb-5"
        >
          <Question
            :index="i + 1"
            :question="a.question.question_body"  
          />
          <div class="w-full ">
            
            <div
              v-if="a.answer_options.length"
            >
              <ul>
                <li
                  v-for="(o, i) in a.answer_options"
                  :key="i"
                  :style="`background-color: ${getOptionColor(a.question.qa_options.find(q => q.id == o.option))}`"
                  class=" py-2 font-semibold px-2 rounded w-full mb-1 text-center"
                >
                
                  <div>{{ a.question.qa_options.find(q => q.id == o.option)?.option }}</div>
                  <div class="text-red-500">
                    {{ a.question.qa_options.find(q => q.id == o.option)?.help_text }}
                  </div>
                </li>
              </ul>
            </div>
            <div
              class="bg-gray-200 py-1 px-2 text-left rounded text-white"
              v-if="a.descriptive_answer"
            >
              {{ a.descriptive_answer }}
            </div>
            <div
              v-if="a.hair_record"
            >
              <img
                class="max-w-full p-3"
                :src="a.hair_record.image"
                alt=""
              >
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
  table th {
    text-align-last: justify;
    text-justify: inter-ideograph;
    padding: 3px 10px;
    font-weight: 600;
    width: 120px;
  }
  table td {
    text-align: left;
    padding: 0px 10px;

  }
</style>
<script setup lang="ts">
import { ref, onMounted, onUpdated, SetupContext, watch } from "vue";
import Question from './AnswerTabQuestion.vue';

import { Answer, AnswerOption, Prescript } from "@/types/Interfaces";

interface Props{
  prescript: Prescript;
  answers: Answer[];
  loadingAnswers: boolean;
}
const props = defineProps<Props>()
const customerData = ref(null);

const getOptionColor = (option: any) => {
  if (option == null) return 'gray';
  if (option.risk == 0) {
    return '#C4E2FF';
  } else if (option.risk == 1) {
    return '#F6E88F';
  } else if (option.risk == 2) {
    return '#FFB9BA'; 
  }
  return 'gray'
}

</script>
