<template>
  <div
    class="text-xs rounded flex-shrink-0"
    :class="{ 'bg-blue-100': [PRESCRIPT_STATUS_ACCEPT_INFO, PRESCRIPT_STATUS_SELECT_DOCTOR, PRESCRIPT_STATUS_PRESCRIBED].includes(status), 'bg-gray-100': status == PRESCRIPT_STATUS_EXAM_DONE || status == PRESCRIPT_STATUS_DONE }"
  >
    <img v-if="![PRESCRIPT_STATUS_SELECT_DOCTOR ,PRESCRIPT_STATUS_ACCEPT_INFO].includes(status)" class="h-6" src="@/assets/img/doctor_end_long.png" alt="">
    <img v-else class="h-6" src="@/assets/img/doctor_now_long.png" alt="">
  
  </div>
</template>
<script setup lang="ts">
import usePrescript from '@/types/Prescript'
const props = defineProps<{ status: number }>()
const {
  PRESCRIPT_STATUS_STARTED,
  PRESCRIPT_STATUS_QUES_DONE,
  PRESCRIPT_STATUS_PRESCRIBED,
  PRESCRIPT_STATUS_SELECT_DOCTOR,
  PRESCRIPT_STATUS_ACCEPT_INFO,
  PRESCRIPT_STATUS_EXAM_DONE,
  PRESCRIPT_STATUS_RESULT_CONFIRMED,
  PRESCRIPT_STATUS_DONE,
} = usePrescript()

</script>