<template>
  <BaseModal>
    <template v-slot:header>
      注文詳細
    </template>
    <template v-slot:body>
      <div class="">
        <table class="text-xs mx-auto border-collapse w-full border">
          <tbody>
            <tr>
              <th>注文ID</th>
              <td>{{ order.id }}</td>
              <th>注文日</th>
              <td>{{ order.order_date }}</td>
              
            </tr>
            <tr>
              <th>注文ステータス</th>
              <td>{{ order.get_order_status_display }}</td>
              <th>定期ID</th>
              <td>
                {{ order.subscription ? order.subscription : '-' }}
              </td>
              
            </tr>
            <tr>
              <th>顧客名(id)</th>
              <td>{{ order.customer.first_name }} {{ order.customer.last_name }}({{ order.customer.id }})</td>
              <th>顧客名かな</th>
              <td>{{ order.customer.first_kana }} {{ order.customer.last_kana }}</td>
              
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td>{{ order.customer.email }}</td>
              <th>電話番号</th>
              <td>{{ order.customer.phone_number }}</td>
              
            </tr>
            <tr>
              <th>住所</th>
              <td colspan="3">
                <div>
                  {{ order.customer.zip_code }}
                </div>
                <div>
                  {{ order.customer.prefecture }}{{ order.customer.city }}{{ order.customer.address }}
                </div>
              </td>
              
            </tr>
            <tr>
              <th>お支払い方法</th>
              <td>{{ order.get_pay_method_display }}</td>
              <th>決済ステータス</th>
              <td>{{ order.get_pay_status_display }}</td>
            </tr>
            <tr>
              <th>配送日指定</th>
              <td>{{ order.deliv_req_date }}</td>
              <th>配送時間指定</th>
              <td>{{ order.get_deliv_req_time_display }}</td>
              
            </tr>
            <tr>
              <th>配送伝票番号</th>
              <td>{{ order.deliv_no }}</td>
              <th>申し込み日</th>
              <td>{{ order.order_date }}</td>
            </tr>
            <tr>
              <th>注文メモ</th>
              <td colspan="3">
                {{ order.memo }}
              </td>
            </tr>
            <tr
              v-for="(op, i) in order.products"
              :key="i"
            >
              <td colspan="3">
                <div class="flex items-center">
                  <div>
                    <img style="width: 150px" :src="op.product.image" alt="">
                  </div>
                  <div>
                    {{ op.product.name }} x {{ op.item_count }}
                  </div>
                </div>
              </td>
              <td style="text-align: right">
                {{ op.subtotal_with_tax }}円
              </td>
            </tr>
            <tr>
              <th class="no-justify" colspan="3">手数料（税込）</th>
              <td style="text-align: right">{{ order.charge.toLocaleString() }}円</td>
            </tr>
            <tr>
              <th class="no-justify" colspan="3">送料（税込）</th>
              <td style="text-align: right">{{ order.deliv_fee.toLocaleString() }}円</td>
            </tr>
            <tr>
              <th class="no-justify"  colspan="3">離島手数料（税込）</th>
              <td style="text-align: right">{{ order.relay_fee.toLocaleString() }}円</td>
            </tr>
            <tr>
              <th class="no-justify"  colspan="3">合計（税込）</th>
              <td style="text-align: right">{{ order.total_amount_with_fee.toLocaleString() }}円</td>
            </tr>
            
          </tbody>
        </table>
        
      </div>
    </template>
      
    <template v-slot:footer>
      
      <button
        @click="onClose"
        class="ml-auto text-sm border"
      >
        閉じる
      </button>
    </template>
  </BaseModal>
</template>
<style lang="scss" scoped>
  table {
    tr {
      th {
        background-color: #C4E2FF;
        white-space: nowrap;
        font-weight: 500;
        padding: 3px 5px;
        text-align-last: justify;
        text-justify: inter-ideograph;
      }
      th.no-justify {
        text-align-last: right;
        text-justify:auto;
      }
      td {
        text-align: left;
        padding: 0px 5px;
      }
      th, td {
        border: lightgray solid 1px;
      }
    }
  }
</style>
<script setup lang="ts">
import { MessageTemplate, Order } from '@/types/Interfaces';
import BaseModal from '@/components/BaseModal.vue'

const props = defineProps<{ order: Order }>()
const emit = defineEmits([
'close',
])

const onClose = () => {
  emit('close')  
};
</script>
