<template>
  <div
    class="text-gray-500 cursor-pointer hover:bg-blue-50 flex items-center mb-1 border p-2 px-4 rounded-tr rounded-br rounded-bl">
    <div class="flex-auto">
      <table class=" border-collapsed w-full ">
        <tbody class="border-b">
          <tr

          >
            <th class="pb-1">注文ID</th>
            <td class="pb-1">{{ order.id }}</td>
          </tr>
        
          
        </tbody>
        <tbody>
          <tr>
            <th class="pt-1">
              購入金額
            </th>
            <td class="pt-1">
              {{ Number(order.total_amount_with_fee).toLocaleString() }}円
            </td>
          </tr>
          <tr>
            <th>定期購入</th>
            <td>{{ order.purchase_times }}回</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pl-2 flex-shrink-0">
      <ArrowRight />
    </div>
  </div>
</template>
<style scoped lang="scss">
  table {
    table-layout: fixed;
    th {
      width: 120px;
      font-weight: 600;
    }
    td {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
</style>
<script setup lang="ts">
import { Order } from '@/types/Interfaces'

const props = defineProps<{ order: Order }>()
</script>