<template>
  <BaseModal>
    <template v-slot:header>
      定期購入詳細
    </template>
    <template v-slot:body>
      <div class="">
      
        <table class="border-collapse border text-xs mx-auto">
          <tbody>
            <tr>
              <th>定期ID</th>
              <td>{{ subscription.id }}</td>
              <th>定期ステータス</th>
              <td>{{ subscription.get_subsc_status_display }}</td>
              
            </tr>
            <tr>
              <th>定期購入回数</th>
              <td>{{ subscription.purchase_times }}回</td>
              <th>定期申込日</th>
              <td>
                {{ getFormattedDate(subscription.created_at, 'YYYY/M/D') }}
              </td>
              
            </tr>
            <tr>
              <th>顧客名(id)</th>
              <td>{{ subscription.prescript.customer.first_name }} {{ subscription.prescript.customer.last_name }}({{ subscription.prescript.customer.id }})</td>
              <th>顧客名かな</th>
              <td>{{ subscription.prescript.customer.first_kana }} {{ subscription.prescript.customer.last_kana }}</td>
              
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td>{{ subscription.prescript.customer.email }}</td>
              <th>電話番号</th>
              <td>{{ subscription.prescript.customer.phone_number }}</td>
              
            </tr>
            <tr>
              <th>住所</th>
              <td colspan="3">
                <div>
                  {{ subscription.prescript.customer.zip_code }}
                </div>
                <div>
                  {{ subscription.prescript.customer.prefecture }}{{ subscription.prescript.customer.city }}{{ subscription.prescript.customer.address }}
                </div>
              </td>
              
            </tr>
            <tr>
              <th>お支払い方法</th>
              <td>{{ subscription.get_pay_method_display }}</td>
              <th>配送間隔</th>
              <td>{{ subscription.delivery_interval }}日</td>
            </tr>
            <tr>
              <th>次回お届け日</th>
              <td>{{ subscription.next_delivery_date }}</td>
              <th>配送時間指定</th>
              <td>{{ subscription.get_deliv_req_time_display }}</td>
              
            </tr>
            
            <tr>
              <th>注文メモ</th>
              <td colspan="3">
                {{ subscription.memo }}
              </td>
            </tr>
            <tr
              v-for="(op, i) in subscription.products"
              :key="i"
            >
              <td colspan="3">
                <div class="flex items-center">
                  <div>
                    <img style="width: 150px" :src="op.product.image" alt="">
                  </div>
                  <div>
                    {{ op.product.name }} x {{ op.item_count }}
                  </div>
                </div>
              </td>
              <td style="text-align: right">
                {{ op.subtotal_with_tax.toLocaleString() }}円
              </td>
            </tr>
            <tr>
              <th class="no-justify" colspan="3">手数料（税込）</th>
              <td style="text-align: right">{{ subscription.charge.toLocaleString() }}円</td>
            </tr>
            <tr>
              <th class="no-justify" colspan="3">送料（税込）</th>
              <td style="text-align: right">{{ subscription.deliv_fee.toLocaleString() }}円</td>
            </tr>
            <tr>
              <th class="no-justify"  colspan="3">離島手数料（税込）</th>
              <td style="text-align: right">{{ subscription.relay_fee.toLocaleString() }}円</td>
            </tr>
            <tr>
              <th class="no-justify"  colspan="3">合計（税込）</th>
              <td style="text-align: right">{{ subscription.total_amount_with_fee.toLocaleString() }}円</td>
            </tr>
            
          </tbody>
        </table>
        
      </div>
    </template>
    <template v-slot:footer>
      
      <button
        @click="onClose"
        class="ml-auto text-sm border"
      >
        閉じる
      </button>
    </template>
   </BaseModal>
</template>
<style lang="scss" scoped>
  table {
    tr {
      th {
        background-color: #C4E2FF;
        white-space: nowrap;
        font-weight: 500;
        padding: 3px 5px;
        text-align-last: justify;
        text-justify: inter-ideograph;
      }
      th.no-justify {
        text-align-last: right;
        text-justify:auto;
      }
      td {
        text-align: left;
        padding: 3px 5px;
      }
      th, td {
        border: lightgray solid 1px;
      }
    }
  }
</style>
<script setup lang="ts">
import { Subscription, Prescript } from '@/types/Interfaces';
import BaseModal from '@/components/BaseModal.vue'
import { getFormattedDate } from "@/mixins/utils";

interface Props{
  subscription: Subscription;
}
const props = defineProps<Props>()

const emit = defineEmits([
  'close',
])

const onClose = () => {
  emit('close')  
};

</script>
