<template>
  <div
    :class="{ 'text-gray-600 border-gray-400': isActive, 'hover:bg-blue-50 cursor-pointer text-gray-400 border-gray-100': !isActive }"
    class="mb-1 border flex justify-between w-full items-center p-2 px-4 rounded-tr rounded-br rounded-bl"
  >
    <table
      class="border-collapsed w-3/4 ">
      <tbody
      >
        <tr>
          <th class="whitespace-nowrap">診察ID</th>
          <td class="px-2" style="text-overflow: ellipsis;">{{ prescript.id }}</td>
        </tr>
        <tr

        >
          <th>診察日</th>
          <td class="px-2">{{ prescript.prescript_date }}</td>
        </tr>
      </tbody>
    
    </table>
    <PrescriptCardStatus
      class="ml-auto flex-shrink-0"
      :status="prescript.status"
    ></PrescriptCardStatus>
    <div class="flex-shrink-0 w-5 ml-1 text-center" v-if="!isActive">
      <ArrowRight class="mx-auto" ></ArrowRight>
    </div>
  </div>
</template>
<style scoped lang="scss">
  table {
    table-layout: fixed;
    tr {
      th {
        white-space: nowrap;
        font-weight: 600;
        width: 50px;
        text-align-last: justify;
        text-justify: inter-ideograph;
      }
      td {
        padding: 3px 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  th, td{
    line-height: 12px;
  }
</style>
<script setup lang="ts">
import { Prescript } from "@/types/Interfaces";
import usePrescript from "@/types/Prescript";
import { computed } from "@vue/reactivity";
import PrescriptCardStatus from './PurchaseTabPrescriptCardStatus.vue'

const props = defineProps<{ prescript: Prescript }>()
const {
  PRESCRIPT_STATUS_STARTED,
  PRESCRIPT_STATUS_QUES_DONE,
  PRESCRIPT_STATUS_SELECT_DOCTOR,
  PRESCRIPT_STATUS_ACCEPT_INFO,
  PRESCRIPT_STATUS_EXAM_DONE,
  PRESCRIPT_STATUS_RESULT_CONFIRMED,
  PRESCRIPT_STATUS_DONE,
} = usePrescript()

const isActive = computed(() => {
  return [PRESCRIPT_STATUS_SELECT_DOCTOR, PRESCRIPT_STATUS_ACCEPT_INFO].includes(props.prescript.status)
})
</script>

