<template>
  <div class="w-full py-2 text-xs">
   
    <div class="text-left mb-5">
      <TabHeader>
        診察履歴
      </TabHeader>
      <div
        v-if="loadingPrescripts"
        class="border shadow rounded-tr rouned-br rounded-bl p-2 w-full mx-auto">
        <div class="animate-pulse flex space-x-4">
            <div class="flex-1 space-y-4 py-1">
              <div class="space-y-2">
                <div class="h-4 bg-blue-100 rounded"></div>
                <div class="h-4 bg-blue-100 rounded"></div>
                <div class="h-4 bg-blue-100 rounded"></div>
                
              </div>

          </div>
        </div>
      </div>
      <div
        
        v-else
      >
        <div
          v-if="prescripts.length == 0"
          class="mb-1 border p-2 px-4 rounded-tr rounded-br rounded-bl"
        >診察履歴がありません</div>
        <PurchaseTabPrescriptCard
          v-for="(p, i) in prescripts"
          :key="i"
          :prescript="p"
          @click="() => { if (p.status >= PRESCRIPT_STATUS_EXAM_DONE || p.status <= PRESCRIPT_STATUS_DONE) modalPrescript = p }"
        />
      
      </div>
      
    </div>
    <div class="text-left mb-5">
      <TabHeader>
        定期購入
      </TabHeader>
      <div
        v-if="loadingSubscriptions"
        class="border shadow rounded-tr rouned-br rounded-bl p-2 w-full mx-auto">
        <div class="animate-pulse flex space-x-4">
            <div class="flex-1 space-y-4 py-1">
              <div class="space-y-2">
                <div class="h-4 bg-blue-100 rounded"></div>
                <div class="h-4 bg-blue-100 rounded"></div>
                <div class="h-4 bg-blue-100 rounded"></div>
                
              </div>

          </div>
        </div>
      </div>
      <div
        v-else
        class=""
      >
        <div
          class="mb-1 border p-2 px-4 rounded-tr rounded-br rounded-bl"
          v-if="!subscriptions.length"
        >
          定期購入がありません
        </div>
        <SubscriptionCard
          @click="modalSubscription = s"
          v-for="(s, i) in subscriptions"
          :subscription="s"
          :key="i"
        />
      </div>
    </div>
    <div class="text-left ">
      <TabHeader>
        注文履歴  
      </TabHeader>
      
      <div
        v-if="loadingOrders"
        class="border shadow rounded-tr rouned-br rounded-bl p-2 w-full mx-auto">
        <div class="animate-pulse flex space-x-4">
            <div class="flex-1 space-y-4 py-1">
              <div class="space-y-2">
                <div class="h-4 bg-blue-100 rounded"></div>
                <div class="h-4 bg-blue-100 rounded"></div>
                <div class="h-4 bg-blue-100 rounded"></div>
                
              </div>

          </div>
        </div>
      </div>
      <div
        v-else
      >
        <div
          class="mb-1 border p-2 px-4 rounded-tr rounded-br rounded-bl"
          v-if="orders.length == 0"
        >
          注文がありません
        </div>
        <OrderCard
          v-for="(o, i) in orders"
          :key="i"
          @click="modalOrder = o"
          :order="o"
        />  
        
      </div>
      
    </div>
    <FrameModal
      v-if="modalOrder != null || modalSubscription != null || modalPrescript != null"
      @close="modalOrder = null; modalSubscription = null; modalPrescript = null"
    >
      <OrderModal
        v-if="modalOrder != null"
        :order="modalOrder"
        @close="modalOrder = null"
      ></OrderModal>
      <SubscriptionModal
        v-if="modalSubscription != null"
        :subscription="modalSubscription"
        @close="modalSubscription = null"
      ></SubscriptionModal>
      <PrescriptHistoryModal
        v-if="modalPrescript != null"
        :prescript="modalPrescript"
        @close="modalPrescript = null"
        
      ></PrescriptHistoryModal>
    </FrameModal>
  </div>
</template>
<style lang="scss" scoped>
  table {
    tr {
      th {
        white-space: nowrap;
        font-weight: 500;
        text-align-last: justify;
        text-justify: inter-ideograph;
      }
      td {
        padding: 3px 10px;
      }
    }
  }
  .title-tag::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #01579B;
    transform: scaleY(1.3) perspective(.6em) rotateX(5deg);
    transform-origin: bottom left;
    border-radius: 8px 8px 0 0;
  }
</style>
<script setup lang="ts">
import { ref, onMounted, SetupContext } from "vue";

import { Subscription, Order, Prescript } from "@/types/Interfaces";

import OrderModal from './PurchaseTabOrderModal.vue'
import SubscriptionModal from './PurchaseTabSubscriptionModal.vue';
import PrescriptHistoryModal from './PurchaseTabPrescriptHistoryModal.vue';
import PurchaseTabPrescriptCard from './PurchaseTabPrescriptCard.vue';
import TabHeader from '@/components/TabHeader.vue';
import SubscriptionCard from './PurchaseTabSubscriptionCard.vue'
import OrderCard from './PurchaseTabOrderCard.vue';
import usePrescript from "@/types/Prescript";

interface Props{
  prescripts: Prescript[];
  subscriptions: Subscription[];
  orders: Order[];
  loadingSubscriptions: boolean;
  loadingPrescripts: boolean;
  loadingOrders: boolean;
}
const props = defineProps<Props>()

const {
  PRESCRIPT_STATUS_DONE,
  PRESCRIPT_STATUS_EXAM_DONE  
} = usePrescript()

const modalOrder = ref<Order | null>(null);
const modalSubscription = ref<Subscription | null>(null)
const modalPrescript = ref<Prescript | null>(null);
</script>
