<template>
  <BaseModal>
    <template v-slot:header>
      処方履歴
    </template>
    <template v-slot:body>
      <div
        class="flex flex-col sm:flex-row h-full sm:overflow-y-hidden"
        style=""
      >
        <div
          ref="messageArea"
          style="background-color: #E7FAFF;" 
          class="h-48 sm:h-full w-full sm:w-72 sm:flex-grow overflow-auto relative py-3"
        >
          <div
            class="absolute w-full space-y-4"
          >
  
            <ChatDateLabel
              v-if="chatLogs.length > 0"
              :dateStr="chatLogs[0].created_at"
            />
            <template
              v-for="(log, i) in chatLogs"
              :key="i"
            >
              <ChatDateLabel
                v-if="i > 1 && getDate(chatLogs[i].created_at) !== getDate(chatLogs[i - 1].created_at)"
                :dateStr="log.created_at"
              />
              <ChatPrescriptCard
                v-if="checkIfPrescription(log.message)"
                :products="products"
                :chatLog="log"
              />
              <ChatMessageCard
                v-else
                :chatLog="log"
                :isMyMessage="log.speaker === userId"
              />
            </template>
            <div class="py-10 bg-gray-100">
              診察は終了です。
            </div>
          </div>
          
        </div>
        <div class="">
          <div class="relative h-48 sm:h-full sm:w-72 overflow-auto">
            <AnswerTab
              :prescript="prescript"
              :answers="answers"
              :loadingAnswers="loading"
            />
          </div>
          
        </div>
      </div>
    </template>
    <template v-slot:footer>
      <button
          @click="onClose"
          class="ml-auto border"
        >
          閉じる
        </button>
    </template>
  </BaseModal>
</template>
<style lang="scss" scoped>
  table {
    tr {
      th {
        background-color: #C4E2FF;
        white-space: nowrap;
        font-weight: 600;
        padding: 3px 10px;
        text-align-last: justify;
        text-justify: inter-ideograph;
      }
      th.no-justify {
        text-align-last: right;
        text-justify:auto;
      }
      td {
        text-align: left;
        padding: 0px 10px;
      }
      th, td {
        border: lightgray solid 1px;
      }
    }
  }
</style>
<script setup lang="ts">
import { ref, onMounted, SetupContext, computed } from "vue";
import { ChatLog, Product, Prescript, Subscription, Answer } from '@/types/Interfaces';
// import useSubscription from "@/types/Subscription";
import useChatLog from "@/types/ChatLog";
import ChatDateLabel from '../MainPane/Chat/DateLabel.vue'
import ChatMessageCard from '../MainPane/Chat/MessageCard.vue';
import ChatPrescriptCard from '../MainPane/Chat/PrescriptCard.vue'
import BaseModal from '@/components/BaseModal.vue'
// import ProductDetailModal from '../MainPane/ProductDetailModal.vue';
import AnswerTab from './AnswerTab.vue'

import moment from 'moment'
import useProducts from "@/types/Product";
import useAnswer from "@/types/Answer";
const props = defineProps<{ prescript: Prescript }>()
const emit = defineEmits([
'close',
])
const {
  chatLogs,
  fetchDoctorChatLogs  
} = useChatLog();

const {
  answers,
  fetchAnswers
} = useAnswer()

const {
  products,
  fetchProducts   
} = useProducts()


const onClose = () => {
  emit('close')  
};
const userId = computed(() => {
  return props.prescript.doctor?.id;
})
const loading = ref(false);
onMounted(async () => {
  loading.value = true;
  const [
    answersData,
    productsData,
    chatLogsData
  ] = await Promise.all([
    fetchAnswers(props.prescript.customer.uuid),
    fetchProducts(),
    fetchDoctorChatLogs(props.prescript.prescript_no),
  ])
  console.log(answersData)
  answers.value = answersData.filter((a: Answer) => a.prescript == props.prescript.id);
  console.log(answers)
  products.value = productsData; 
  chatLogs.value = chatLogsData;
  loading.value = false
})
const getDate = (dateStr: string) => {
  return moment(dateStr).format('yyyy/M/D')
}
const checkIfPrescription = (message: string) => {
  try {
    const r = JSON.parse(message);
    return Array.isArray(r);
  } catch (err) {
    return false;
  }
}
   
</script>
