<template>
  <div
    class="text-gray-500 hover:bg-blue-50 cursor-pointer flex items-center mb-1 border p-2 px-4 rounded-tr rounded-br rounded-bl">
    <div class="">
      <table class="border-collapsed w-full ">
        <tbody class="border-b">
          <tr

          >
            <th>定期ID</th>
            <td >{{ subscription.id }}</td>
          </tr>
          <tr

          >
            <th class="pb-1">定期ステータス</th>
            <td class="pb-1">
              <div class="inline-block rounded px-2 " :class="{ 'bg-green-300 text-black ': subscription.subsc_status == 0, 'bg-gray-600 text-white': subscription.subsc_status == 1, 'bg-red-600 text-white': subscription.subsc_status == 2  }">
                {{ subscription.get_subsc_status_display }}
              </div>
            </td>
          </tr>
          
        </tbody>
        <tbody>
          <tr>
            <th class="pt-1">
              次回お届け日
            </th>
            <td class="pt-1">
              {{ subscription.next_delivery_date }}
            </td>
          </tr>
          <tr>
            <th>お届け日配送間隔</th>
            <td>{{ subscription.delivery_interval }}日</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pl-2 flex-shrink-0">
      <ArrowRight />
    </div>
  </div>
</template>
<style scoped lang="scss">
  table {
    table-layout: fixed;
    th {
      width: 120px;
      font-weight: 600;
    }
    td {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
</style>
<script setup lang="ts">
import { Subscription } from '@/types/Interfaces'

const props = defineProps<{ subscription: Subscription }>()

</script>