<template>
  <div class="p-2 rounded border">
    <div class="flex justify-between items-center border-b ">
      <table class=" table-fixed ">
        <tbody>
          <tr>
            <th align="left" class="font-normal ">更新日:</th>
            <td class="text-left pl-2 overflow-hidden overflow-ellipsis whitespace-nowrap">{{ getFormattedDate(memo.created_at, 'YYYY/M/D') }}</td>
          </tr>
          <tr>
            <th align="left" class="font-normal">入力者:</th>
            <td class="text-left pl-2 overflow-hidden overflow-ellipsis whitespace-nowrap">{{ memo.writer.full_name }}</td>
          </tr>

        </tbody>
      </table>
      <div class="flex-shrink-0 ml-auto">
        <button @click="modify = !modify" class="image">
          <img class="h-6" src="@/assets/img/doctor_hensyu.png" alt="">
        </button>
      </div>
      <div class="ml-1">
        <button @click="onDelete" class="image">
          <img class="h-6" src="@/assets/img/doctor_delete.png" alt="">
        </button>

      </div>
      
    </div>
    <div class="py-2">
    <textarea
      v-if="modify"
      style="resize: none"
      v-model="memoLocal.memo"
      class="text-sm mb-2 rounded border shadow w-full mx-auto inline-block focus:outline-none p-2" placeholder="メモを入力" name="" id="" cols="30" rows="5"></textarea>
    <div
      v-else
      class="break-words mb-2 text-sm text-left w-full mx-auto inline-block focus:outline-none p-1"
      v-html="htmlify(memo.memo)"
    >
  
    </div>
    </div>
    <div v-if="modify" class="flex justify-center">
      <button @click="modify = !modify" class="image">
        <img class="h-6" src="@/assets/img/doctor_cancel.png" alt="">
      </button>
      <button @click="onUpdate" class="image ml-1">
        <img  class="h-6" src="@/assets/img/doctor_touroku.png" alt="">
      </button>
      
    </div>
  </div>
</template>
<style lang="scss" scoped>
  th {
    width: 50px;
    padding-left: 3px;
  }
</style>
<script setup lang="ts">
import useCustomer from "@/types/Customer";
import { watch, ref, SetupContext, onMounted, onUpdated } from "@vue/runtime-core";
import { clone, cloneDeep } from "lodash";
import { getFormattedDate } from '@/mixins/utils'
import { CustomerMemo } from "@/types/Interfaces";
import { htmlify } from "@/mixins/utils";
const props = defineProps<{ memo: CustomerMemo }>()
const emit = defineEmits([
  'delete:memo',
  'update:memo'
])
const memoLocal = ref<any>(null)// 
const modify = ref(false);
const {
  updateCustomerMemo,
  deleteCustomerMemo
} = useCustomer()

onMounted(() => {
  modify.value = false;
  memoLocal.value = cloneDeep(props.memo)
})
watch(() => props.memo, () => {
  modify.value = false;
  memoLocal.value = cloneDeep(props.memo)
})
const onUpdate = async () => {
  const payload: any = {
    id: props.memo.id,
    memo: memoLocal.value.memo
  }
  const ret = await updateCustomerMemo(props.memo.id, payload)
  emit('update:memo', ret)
  modify.value = false
}
const onDelete = async () => {
  if (!confirm('削除してよろしいですか？')) return;
  const ret = await deleteCustomerMemo(props.memo.id);
  emit('delete:memo')
}

</script>
