<template>
  <div class="w-full py-2 text-xs">
    <div class="text-left mb-5">
      <TabHeader>
        顧客情報詳細
      </TabHeader>
      
      <div class="border p-2 rounded-tr rounded-br rounded-bl flex  ">
        <table class="border-collapsed mx-2  text-gray-500 flex-grow">
          <tbody class="border-b-2 ">
            <tr>
              <th class="pb-1">顧客ID</th>
              <td class=" pb-1">{{ prescript.customer.id }}</td>
            </tr>
          </tbody>
          <tbody class="border-b">
            <tr class="border-b border-gray-100">
              <th class="pt-1">お名前</th>
              <td class="pt-1 text-left">{{ `${prescript.customer.first_name} ${prescript.customer.last_name}` }}</td>
            </tr>
            <tr class="border-b border-gray-100">
              <th>性別</th>
              <td class="text-left">
                {{ prescript.customer.get_gender_display != null ? prescript.customer.get_gender_display : 'ー' }}
              </td>
            </tr>
            <tr class="border-b border-gray-100">
              <th class="pb-1">生年月日</th>
              <td class="text-left pb-1">{{ prescript.customer.birthday }}</td>
            </tr>
            <tr class=" border-b-2"> 
              <th class="pb-1">年齢</th>
              <td class="text-left pb-1">{{ prescript.customer.age }}歳</td>
            </tr>
            
            
          </tbody>
          <tbody class="">
            <tr class="border-b border-gray-100 ">
              <th class="pt-1">住所</th>
              <td class="pt-1 pb-1">
                <div>
                  {{ prescript.customer.zip_code }}
                </div>
                <div>
                  {{ prescript.customer.prefecture }}{{ prescript.customer.city }}{{ prescript.customer.address }}
                </div>
              </td>
            </tr>
            <tr class="border-b border-gray-100">
              <th>メール</th>
              <td class="">{{ prescript.customer.email }}</td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td class="">{{ prescript.customer.phone_number }}</td>
            </tr>
            
          </tbody>

        </table>
      </div>
    </div>
     <div class="text-left mb-5">
      <TabHeader>
        顧客メモ
      </TabHeader>
      
      <div class="border p-2 px-2  rounded-tr rounded-br rounded-bl text-center">
        <textarea v-model="currentMemo" style="resize: none" class="w-full block mb-2 rounded border shadow inline-block focus:outline-none p-2" placeholder="メモを入力" name="" id="" cols="30" rows="5"></textarea>
        <button @click="onAddMemo" class="block mx-auto image">
          <img class="h-6" src="@/assets/img/doctor_touroku.png" alt="">
        </button>
      </div>
    </div>
    <UserProfileTabMemo
      v-for="(m, i) in memos"
      :key="i"
      :memo="m"
      class="mb-2"
      @update:memo="onUpdateMemo(i, $event)"
      @delete:memo="onDeleteMemo(i)"
    />
    

  </div>
</template>
<style lang="scss" scoped>
  table {
    tr {
      th {
        white-space: nowrap;
        font-weight: 600;
        width: 70px;
      }
      td {
        font-weight: 500;
        // width: 100%;
      }
    }
  }
  .title-tag::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #01579B;
    transform: scaleY(1.3) perspective(.6em) rotateX(5deg);
    transform-origin: bottom left;
    border-radius: 8px 8px 0 0;
  }
</style>
<script setup lang="ts">
import { ref, onMounted, SetupContext, watch } from "vue";

import { Answer, AnswerOption, Order, Prescript } from "@/types/Interfaces";

import useCustomer from "@/types/Customer";
import useAuth from '@/types/Auth'
import UserProfileTabMemo from './UserProfileTabMemo.vue'
import TabHeader from '@/components/TabHeader.vue'
const props = defineProps<{ prescript: Prescript }>()

const {
  fetchCustomerMemo,
  addCustomerMemo
} = useCustomer();
const {
  profile
} = useAuth()
const memos = ref<any>([]);

onMounted(async () => {
  memos.value = await fetchCustomerMemo(props.prescript.customer.uuid)
})
const currentMemo = ref('');

watch(() => props.prescript, async () => {
  currentMemo.value = '';
  memos.value = await fetchCustomerMemo(props.prescript.customer.uuid)
})
const onAddMemo = async () => {
  if (currentMemo.value == '') return;
  const payload: any = {
    customer_id: props.prescript.customer.id,
    writer_id: profile.value?.id,
    memo: currentMemo.value
  }
  const d = await addCustomerMemo(payload);
  currentMemo.value = ''
  memos.value = await fetchCustomerMemo(props.prescript.customer.uuid)
}
const onUpdateMemo = (i: number, obj: any) => {
  memos.value.splice(i, 1, obj);
}
const onDeleteMemo = (i: number) => {
  memos.value.splice(i, 1);
}
</script>
