<template>
  <div
    class="flex flex-col min-h-full w-full px-2 py-3 text-sm"
  >
    
    <div class="relative mb-1 w-full ">
      <input
        placeholder="名前でフィルター"
        :value="searchWord"
        @input="onInputSearchWord"
        class=" px-4 focus:outline-none focus:ring w-full py-2 border block flex-grow "
        type="text">
      <button
        @click="onResetSearchWord"
        class="absolute right-0 bg-gransparent top-1 rounded-full"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
      
    </div>
    <div class="mb-3 flex items-center flex-row-reverse">
       <div class="ml-1">
        <toggle v-model="showInactive" />
      </div>
      <div class=" text-xs">
        終了した診察も表示    
      </div>
     
    </div>
   
    <div class="flex-grow w-full relative overflow-y-auto">
      <div v-if="loadingPrescripts">
        <div
          v-for="i in 3"
          :key="i"
          class="mb-3 rounded-tr rouned-br rounded-bl p-2 w-full mx-auto">
          <div class="items-center animate-pulse flex space-x-4">
              <div >
                <div class="w-8 h-8 rounded-full bg-blue-100"></div>
              </div>
              <div class="flex-1 space-y-4 py-1">
                
                <div class="space-y-2">
                  <div class="h-4 bg-blue-100 rounded"></div>
                  <div class="h-4 bg-blue-100 rounded"></div>
                </div>

            </div>
          </div>
        </div>
      </div>
      <div v-else class="absolute w-full">
        <PrescriptCard
          v-for="(p, i) in prescriptsToDisplay"
          :key="i"
          :prescript="p"
          :class="{ 'border-t': i == 0 }"
          :isActive="activePrescript ? activePrescript.id == p.id : false"
          @click="onSelectPrescript(p)"
        />
       
        
      </div>
   </div>
  </div>
</template>
<script setup lang="ts">
import { SetupContext, ref, onMounted, computed } from "vue";
import usePrescript from '@/types/Prescript';
import { Prescript } from '@/types/Interfaces';
import PrescriptCard from './LeftPane/PrescriptCard.vue';
import Toggle from '@/components/Toggle.vue';

interface Props{
  loadingPrescripts: boolean;
  prescripts: Prescript[];
  activePrescript: Prescript | null;
  searchWord: string;
}
const props = defineProps<Props>()
const emit = defineEmits([
  'update:activePrescript',
  'update:searchWord',
  'page'
])


const showInactive = ref(false)

const {
  PRESCRIPT_STATUS_ACCEPT_INFO,
  PRESCRIPT_STATUS_SELECT_DOCTOR,
  PRESCRIPT_STATUS_PRESCRIBED
} = usePrescript()

const prescriptsToDisplay = computed(() => {
  if (!showInactive.value) {
    return props.prescripts.filter((p: any) => [PRESCRIPT_STATUS_ACCEPT_INFO, PRESCRIPT_STATUS_SELECT_DOCTOR, PRESCRIPT_STATUS_PRESCRIBED].includes(p.status))
  } else {
    return props.prescripts
  }
})

const onInputSearchWord = (event: Event) => {
  const {target} = event;
  if (!(target instanceof HTMLInputElement)) return;
  emit('update:searchWord', target.value);
}
const onSelectPrescript = (p: Prescript) => {
  
  emit('update:activePrescript', p);
  emit('page', 'main')
};

const onResetSearchWord = () => {
  emit('update:searchWord', '')
}

</script>
