<template>
  <div
    class="h-full flex flex-col w-full px-1 "
  > <div class="sm:hidden pt-2 flex items-center py-1 text-blue-200" @click="onBack">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
      </svg>
    </div> 
    <div class=" sm:h-12 sm:pt-3 border-b ">
      
      <ul class='flex h-full cursor-pointer text-xs font-normal justify-center'>
        <li
          
          v-for="(t, i) in tabs"
          :key="i"
          @click="tab = t.value"
          style="width: 30px; font-size: 11px; border-bottom: none;"
          :class="{ 'bg-primary font-semibold text-white ': t.value === tab, 'border-r-none': i == 0 }"
          class='relative flex-auto py-2 bg-white rounded-t border '
        >
          {{ t.text }}
          <div v-if="t.value == tab" class="arrow-down"></div>
        </li>
      </ul>
    </div>
    <div class=" w-full relative flex-grow overflow-y-auto">
      <AnswerTab
        class="absolute"
        v-if="tab === 'answer'"
        :prescript="prescript"
        :answers="answers"
        :loadingAnswers="loadingAnswers"
      />
      <UserProfileTab
        class="absolute"
        v-if="tab === 'profile'"
        :prescript="prescript"
      />
      <PurchaseTab
        class="absolute"
        v-if="tab === 'purchase'"
        :prescript="prescript"
        :subscriptions="subscriptions"
        :prescripts="prescripts"
        :orders="orders"
        :loadingSubscriptions="loadingSubscriptions"
        :loadingOrders="loadingOrders"
        :loadingPrescripts="loadingPrescripts"
      />
      
      <HairRecordTab
        class="absolute "
        :prescript="prescript"
        :loadingHairRecords="loadingHairRecords"
        :hairRecords="hairRecords"
        v-if="tab == 'hairRecord'"
      />
    </div>
    
  </div>
</template>

<style lang="scss" scoped>
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #0AA2E8;

    position: absolute;
    top: 100%;
    left: calc(50% - 5px);
    // margin-left: -20px;
  }
  li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
</style>
<script setup lang="ts">
import { onMounted, SetupContext, ref, watch } from "vue";
import AnswerTab from './RightPane/AnswerTab.vue';
import UserProfileTab from './RightPane/UserProfileTab.vue';
import HairRecordTab from './RightPane/HairRecordTab.vue';
import PurchaseTab from './RightPane/PurchaseTab.vue';
import useSubscription from '@/types/Subscription';
import usePrescript from '@/types/Prescript';
import useOrder from '@/types/Order';
import useHairRecord from '@/types/HairRecord';

import { Answer, Subscription, AnswerOption, Prescript, Order, HairRecord } from "@/types/Interfaces";
import useAnswer from '@/types/Answer';

const props = defineProps<{ prescript: Prescript }>()
const emit = defineEmits([
  "page",
  "back"
])
const tabs = [
  {
    value: 'answer',
    text: '問診表'
  },
  {
    value: 'profile',
    text: '顧客情報'
  },
  {
    value: 'purchase',
    text: '診察・購入履歴'
  },
  
  {
    value: 'hairRecord',
    text: '毛髪記録'
  },
  
]
const tab = ref<string>('answer')

const hairRecords = ref<HairRecord[]>([]);
const loadingHairRecords = ref(false);
const {
  fetchUserHairRecords  
} = useHairRecord();
const loadHairRecordData = async () => {
  loadingHairRecords.value = true;
  hairRecords.value = await fetchUserHairRecords(props.prescript.customer.uuid);
  loadingHairRecords.value = false;
}
const {
  answers,
  fetchAnswers
} = useAnswer();

const loadingAnswers = ref(false);
const loadAnswerData = async () => {
  loadingAnswers.value = true;
  const data = await fetchAnswers(props.prescript.customer.uuid);
  loadingAnswers.value = false
  answers.value = data.filter((a: any) => a.prescript == props.prescript.id);
  // fetchLogs();
}


const subscriptions = ref<Subscription[]>([]);
const {
  fetchSubscriptions
} = useSubscription();

const prescripts = ref<Prescript[]>([]);
const {
  fetchUserPrescripts   
} = usePrescript();
const orders = ref<Order[]>([]);
const {
  fetchUserOrders
} = useOrder();

const loadingSubscriptions = ref(false)
const loadingOrders = ref(false)
const loadingPrescripts = ref(false);

const loadCustomerData = async () => {
  loadingSubscriptions.value = true;
  loadingOrders.value = true;
  loadingPrescripts.value = true;
  prescripts.value = await fetchUserPrescripts(props.prescript.customer.uuid);
  loadingPrescripts.value = false;
  subscriptions.value = await fetchSubscriptions(props.prescript.customer.uuid)
  loadingSubscriptions.value = false;
  orders.value = await fetchUserOrders(props.prescript.customer.uuid);
  loadingOrders.value = false;

}
watch(() => props.prescript, () => {
  loadCustomerData();
  loadAnswerData();
  loadHairRecordData();
})
onMounted(async () => {
  // fetchLogs();
  loadCustomerData();
  loadAnswerData();
  loadHairRecordData();
});

const onPage = (page: string) => {
  emit('page', page);
};

const onBack = () => {
  emit('back')
}
</script>
