
<template>
  <BaseLayout >
    
    <div class="bg-image flex flex-col h-screen pt-12 justify-center">
       <div class=" text-center mb-7 mx-auto">
          
          <img class="mx-auto w-36" style="margin-top:100px; margin-bottom: 20px" src="@/assets/img/monshin_complete.png" alt="">
          <div class="font-bold mb-5 leading-5" style="font-size: 1.3rem; line-height: 2.3rem">
            パスワードの再設定が<br>
            完了しました。
          </div>
          <div class="">
            <button @click="router.replace({ name: 'Login' })" class="bg-blue-200 text-white w-72 ">
              ログインへ戻る
            </button>
          </div>
        </div>
     
    </div>
  </BaseLayout>
</template>
<style scoped lang="scss">
   .bg-image {
    background-image: url(/img/top_bk_PC.png);
    background-size: contain;
  }
</style>
<script setup lang="ts">
import { useRoute, useRouter } from 'vue-router';
import BaseLayout from '@/layouts/BaseLayout.vue'

const router = useRouter();
const route = useRoute();
   
</script>