
<template>
  <BaseLayout >
    
    <div class="pt-12 bg-image h-screen flex flex-col justify-center text-sm">
      <div class="mx-auto">
        <div @click="router.push({ name: 'Login' })" class="cursor-pointer bg-blue-50 rounded-full px-5 text-xs py-2 mb-5 shadow flex items-center ">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
          <div class="ml-2">ログインへ戻る</div>
        </div>
        <div class="font-semibold mb-16">
          パスワード再設定メールを送信いたしました
        </div>
        <div class="text-center w-full mb-10">
          
          <img src="@/assets/img/icon_mail.png" class="mx-auto w-32" alt="">
        </div>
        <div class="font-semibold">
          確認メールに記載されている再設定リンクより、<br>
          パスワードを再設定して下さい。
        </div>
      </div>
    </div>
  </BaseLayout>
</template>
<style scoped lang="scss">
   .bg-image {
    background-image: url(/img/top_bk_PC.png);
    background-size: contain;
  }
</style>
<script setup lang="ts">
import { useRoute, useRouter } from 'vue-router';
import BaseLayout from '@/layouts/BaseLayout.vue'
const router = useRouter();
const route = useRoute();
   
</script>