<template>
  <BaseLayout>
  <div class="bg-image h-screen flex flex-col justify-center pt-12 w-screen">
    <div class="mx-auto ">
      <div @click="router.push({ name: 'Login' })" class="cursor-pointer bg-blue-50 rounded-full px-5 text-xs py-2 mb-5 shadow flex items-center ">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
        <div class="ml-2">ログインへ戻る</div>
      </div>
      <div class="text-sm  py-4 mb-5 font-normal">
        パスワードを再設定します。<br>
        登録のメールアドレスを入力してください。
      </div>
      <form
        class=" "
        :disabled="loading"
        ref="form"
        method="post"
        @submit.prevent="onSubmit"
      >
       
        <PInput
          class="mb-10"
          label="メールアドレス"
          id="email"
          type="email"
          :required="true"
          autocomplete="email"
          v-model="email"
          placeholder="example@pesod.com"
          :error="emailError"
        >
        </PInput>
        
        <div
          class="text-center"
        >
          <button
            :disabled="loading || emailError != ''"
            type="submit"
            class="bg-blue-200 text-white mb-10 w-72 sm:block sm:w-full"
          >
            再設定リンクを送る
            
          </button>
          
        </div>
      </form>
    </div>
    
  </div>
  </BaseLayout>
</template>
<style scoped lang="scss">
   .bg-image {
    background-image: url(/img/top_bk_PC.png);
    background-size: contain;
  }
</style>
<script setup lang="ts">
import { watch, ref, Ref, onMounted, isProxy } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { Login } from '@/types/Interfaces';
import BaseLayout from '@/layouts/BaseLayout.vue'
import { emailValidator } from '@/mixins/FormValidator'
import useAuth from '@/types/Auth'
import useAppState from '@/types/AppState';
const router = useRouter();
const email = ref('')
const emailError = ref('')
const loading = ref(false);
const {
  apiError,
  stringifyApiError  
} = useAppState()

const {
  sendResetPasswordLink
} = useAuth()



const form = ref<HTMLFormElement | null>(null);
watch(email, () => {
  emailError.value = emailValidator(email.value) || '';
})
const onSubmit = async () => {
  if (emailError.value) return;
  loading.value = true
  try {
    const res = await sendResetPasswordLink(email.value);
    router.push({ name: 'PasswordResetLinkSent' })
  } catch (err: any) {
    apiError.value = stringifyApiError(err);

    console.error(err)
  } finally {
    loading.value  = false;
  }
}
</script>