<template>
  <BaseLayout>
    
    <div class="bg-image flex flex-col justify-center h-screen pt-12">
      <div class="mx-auto w-80">
        <div class="text-sm font-semibold mb-10">
          新しいパスワードを入力してください
        </div>
        <form
          ref="form"
          method="post"
          class="py-5"
          @submit.prevent="onSubmit"
        >
          
          <PInput
            class="mb-10 leading-8"
            label="新しいパスワード"
            placeholder="英数字8文字以上で入力"
            autocomplete="password"
            id="password"
            :hidable="true"
            :type="isPasswordHidden ? 'password' : 'text'"
            :required="true"
            v-model="formData.password"
            v-model:isHidden="isPasswordHidden"
            :error="errors.password"
          >
          </PInput>
          <PInput
            class="mb-12 leading-8"
            label="新しいパスワード(確認)"
            placeholder="確認用"
            autocomplete="password_confirm"
            id="password"
            :hidable="true"
            :type="isPasswordHidden ? 'password' : 'text'"
            v-model="formData.password_confirm"
            v-model:isHidden="isPasswordHidden"
            :error="errors.password_confirm"
          >
          </PInput>
          
          <div
            class="text-center"
          >

            
            <button
              :disabled="hasError"
              type="submit"
              class="w-full bg-blue-200 text-white mb-8"
            >
              パスワードを設定する
            </button>
          </div>
        </form>
      </div>
    </div>
  </BaseLayout>
</template>
<style scoped lang="scss">
   .bg-image {
    background-image: url(/img/top_bk_PC.png);
    background-size: contain;
  }
</style>
<script setup lang="ts">
import { computed, onMounted, Ref, ref, watch } from 'vue';
import { stringifyQuery, useRoute, useRouter } from 'vue-router';
import {emailValidator, formRequired, getRegexpTester, passwordValidator, validate} from '@/mixins/FormValidator';
import BaseLayout from '@/layouts/BaseLayout.vue'

import useAppState from '@/types/AppState';
import useAuth from '@/types/Auth';
const route = useRoute()
const router = useRouter()

const uidb64 = computed(() => {
  return route.params.uidb64.toString()
})
const token = computed(() => {
  return route.params.token.toString()
})
const {
  resetPassword  
} = useAuth()
const {
  apiError,
  stringifyApiError  
} = useAppState()

const errors: Ref<{ [key: string]: string }> = ref({
  password: '',
  password_confirm: ''  
});
const hasError = computed(() => {
  let error = false;
  Object.keys(errors.value).map((k: string) => {
    if (errors.value[k]) error = true
    
  })
  return error;
})

const form = ref<HTMLFormElement | null>(null);
const isPasswordHidden = ref(true);
const formData = ref<any>({
  password: '',
  password_confirm: '' 
});

const passwordConfirmValidator = (v: string) => {
  return v == formData.value?.password ? null : 'パスワードが一致しません。';
}
const validators: { [key: string]: Function[] } = {
  password: [
    formRequired,
    passwordValidator
  ],
  password_confirm: [
    formRequired,
    passwordConfirmValidator
  ]
}
onMounted(() => {
  if (!uidb64.value || !token.value ) {
    router.replace({ name: 'PasswordResetSendLink' })
  }
})
watch(() => formData.value, () => {
  validate(formData.value, validators, errors)
}, { deep: true })

const onSubmit = async () => {
  if (!validate(formData.value, validators, errors)) return;
  try {
    const res = await resetPassword(uidb64.value, token.value, formData.value);
    router.replace({ name: 'PasswordResetDone' })
  } catch (err: any) {
    console.error(err)
    apiError.value = stringifyApiError(err);

  }
}
</script>