<template>
  <BaseLayout>
    <Splitpanes
      class="default-theme pt-12"
      :style="{ 'height': screenHeight  + 'px'}"
    >
      <Pane
        :size="isMobile() ? 100 : 20"
        :min-size="isMobile() ? 100 : 20"  
        class="overflow-y-hidden sm:block w-full; max-h-full"
        :class="{ 'hidden': activePane != 'left' }"
        style="align-self: stretch;"
          
      >
        <LeftPane
          v-model:searchWord="searchWord"
          :prescripts="displayPrescripts"
          :loadingPrescripts="loadingPrescripts"
          v-model:activePrescript="activePrescript"
          @update:activePrescript="activePane = 'main'"
        />
      </Pane>
      <Pane
        :size="isMobile() ? 100 : 30"
        :min-size="isMobile() ? 100 : 30"
        class="relative sm:block flex-grow  w-full sm:w-3/6 overflow-y-hidden"
        :class="{ 'hidden': activePane != 'main' }"
      >
       
        <div
          class="text-sm"
          v-if="activePrescript == null"
        >
          顧客を選択してください。
        </div>
        <div
          v-else
          class="h-full flex flex-col w-full sm:px-1"
        >
          
          <div class="h-12 flex items-center border-b  p-1 justify-between text-sm ">
            <div class="flex items-center sm:hidden flex-shrink-0 text-blue-200" @click="activePane = 'left'">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
              </svg>
            </div>
            <div class="flex items-center">
              <UserIcon
                :iconType="activePrescript.customer.icon_type"
              ></UserIcon>
              <div class="ml-2 sm:text-sm overflow-hidden overflow-ellipsis whitespace-nowrap">
                {{ activePrescript.customer.first_name }} {{ activePrescript.customer.last_name }} 様 診察ルーム
              </div>
              <div class="ml-2">
                <img class="h-6" v-if="activePrescript.status != PRESCRIPT_STATUS_DONE" src="@/assets/img/doctor_now_long.png" alt="">
                <img class="h-6" v-else src="@/assets/img/doctor_end_long.png" alt="">
              
              </div>
            </div>
            <div @click="activePane = 'right'" class="flex items-center text-blue-200 sm:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
              </svg>
            </div>
          </div>
          <div
            style="background-color: #E7FAFF"
          
            ref="messageArea" 
            class="flex-grow overflow-auto relative pt-5"
          >
            <SkeltonLoader
              v-if="loadingChatLogs"
            />
            <div
              v-else
              ref="scrollContainer"
              class="absolute w-full space-y-4 pb-2"
            >
              <UnreadLabel
                v-if="originalCursor == 0"
              ></UnreadLabel>
              
              <ChatDateLabel
                v-if="chatLogs.length > 0"
                :dateStr="chatLogs[0].created_at"
              ></ChatDateLabel>
              <template
                v-for="(log, i) in chatLogs"
                :key="i"
                
              >
                <UnreadLabel
                  v-if="i > 0 && log.id > originalCursor && chatLogs[i - 1].id <= originalCursor && !log.online"
                ></UnreadLabel>
                
                <ChatDateLabel
                  v-if="i > 1 && getDate(chatLogs[i].created_at) != getDate(chatLogs[i - 1].created_at)"
                  :dateStr="log.created_at"
                >
                </ChatDateLabel>
                
                <ChatPrescriptCard
                  v-if="checkIfPrescription(log.message)"
                  :products="products"
                  :chatLog="log"
                  @showProductDetail="onShowProductModal"
                ></ChatPrescriptCard>
                <ChatMessageCard
                  v-else-if="log.message != '[]'"
                  :chatLog="log"
                  :isMyMessage="profile ? log.speaker === profile.id : false"
                ></ChatMessageCard>
              </template>
            
              
              
            </div>
            
          </div>
          <div v-if="activePrescript.status == PRESCRIPT_STATUS_ACCEPT_INFO || activePrescript.status == PRESCRIPT_STATUS_PRESCRIBED">
            <ChatForm
              v-model="message"
              v-model:expanded="formExpanded"
              @send="onSendMessage"
            >
              <template v-slot:menu>
            
                <button
                  @click="showMessageTemplates = !showMessageTemplates"
                  class="shadow text-gray-600 border border-gray-100 rounded py-1 text-xs p-1 flex items-center"
                >
                  <div>テンプレート</div>
                  
                </button>
                <button
                  :disabled="activePrescript.status == PRESCRIPT_STATUS_PRESCRIBED"
                  @click="showPrescribeProducts = !showPrescribeProducts"
                  class="shadow text-gray-600 border border-gray-100 rounded py-1 text-xs flex items-center ml-1"
                >
                  処方提案 
                </button>
              </template> 
            </ChatForm>
            
          </div>
          <div v-if="activePrescript.status == PRESCRIPT_STATUS_DONE || activePrescript.status == PRESCRIPT_STATUS_EXAM_DONE" class="py-10 bg-gray-100">
            診察は終了です。
          </div>
          <div v-if="activePrescript.status == PRESCRIPT_STATUS_SELECT_DOCTOR" class="mt-auto py-10 bg-gray-100">
            情報提供に関する同意待ちです。
          </div>
          <FrameModal
            v-if="showMessageTemplates"
            @close="showMessageTemplates = false"
          >
            <TemplateModal
              :templates="doctorMessageTemplates.filter(t => t.is_select)"
              @select:template="onSelectTemplate"
              @close="showMessageTemplates = false"
            ></TemplateModal>
          </FrameModal>
          <FrameModal
            v-if="showPrescribeProducts"
            @close="showPrescribeProducts = false"
          >
            <PrescribeProductsModal
              @close="showPrescribeProducts = false"
              :products="products"
              @no-prescription="onNoPrescription"
              @prescribe="onPrescribe"
            />
          </FrameModal>
          <FrameModal
            v-if="modalProduct"
            @close="modalProduct = null"
          
          > 
           
            <ProductDetailModal
              :product="modalProduct"
              @close="modalProduct = null"
            ></ProductDetailModal>
          </FrameModal>
        </div>
      </Pane>
      <Pane
        :size="isMobile() ? 100 : 30"
        :min-size="isMobile() ? 100 : 30"
        class=" sm:block overflow-y-auto w-full sm:w-2/6"
        :class="{ 'hidden': activePane != 'right' }"
      >
        <div
          class="text-sm"
          v-if="activePrescript == null"
        >
          顧客を選択してください。
        </div>
        
        <RightPane
          v-else
          @back="activePane = 'main'"
          :prescript="activePrescript"
        ></RightPane>
      </Pane>
    </Splitpanes>
    
  </BaseLayout>
</template>
<style scoped>
  .splitpanes--vertical>.splitpanes__splitter {
    min-width: 6px!important;
    background: linear-gradient(90deg, #ccc, #111);
  }

  .splitpanes.default-theme .splitpanes__pane {
    background-color: white;
  }
  div.date {
    padding: 0 10px;
  }
  div.date:before,
  div.date:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid lightgray;
    margin: auto;
  }
</style>
<script setup lang="ts">
import { useRoute, useRouter } from "vue-router";
import { computed, watch, onMounted, ref, SetupContext } from "vue";
import LeftPane from '@/views/Dashboard/LeftPane.vue';
import RightPane from '@/views/Dashboard/RightPane.vue';

import moment from 'moment';

// chat 
import PrescribeProductsModal from './Dashboard/MainPane/PrescribeProductsModal.vue';
import ChatPrescriptCard from './Dashboard/MainPane/Chat/PrescriptCard.vue';

import ProductDetailModal from './Dashboard/MainPane/ProductDetailModal.vue';
import SkeltonLoader from './Dashboard/MainPane/SkeltonLoader.vue';
import ChatForm from './Dashboard/MainPane/Chat/Form.vue';
import ChatMessageCard from './Dashboard/MainPane/Chat/MessageCard.vue';
import ChatDateLabel from './Dashboard/MainPane/Chat/DateLabel.vue'
import TemplateModal from './Dashboard/MainPane/TemplateModal.vue';
import UnreadLabel from './Dashboard/MainPane/Chat/UnreadLabel.vue';
import useProducts from "@/types/Product";
import usePrescript from '@/types/Prescript';
import useAuth from '@/types/Auth';
import useChatLog from '@/types/ChatLog';
import { Prescript, MessageTemplate, Notification, Product, ChatLog, ChatLogDto } from "@/types/Interfaces";
import { Splitpanes, Pane } from 'splitpanes'
import 'splitpanes/dist/splitpanes.css'
import { cloneDeep } from "lodash";
import useAppState from "@/types/AppState";
import { getFormattedDate } from "@/mixins/utils";
import { useToast } from "vue-toastification";

const activePane = ref('left');
const {
  screenHeight,
} = useAppState()
const {
  accessToken,
  profile,
} = useAuth();

const {
  PRESCRIPT_STATUS_STARTED,
  PRESCRIPT_STATUS_QUES_DONE,
  PRESCRIPT_STATUS_SELECT_DOCTOR,
  PRESCRIPT_STATUS_ACCEPT_INFO,
  PRESCRIPT_STATUS_PRESCRIBED,
  PRESCRIPT_STATUS_EXAM_DONE,
  PRESCRIPT_STATUS_RESULT_CONFIRMED,
  PRESCRIPT_STATUS_DONE,
  setPrescriptProducts
} = usePrescript();

const loadingChatLogs = ref(false);
const {
  chatLogs,
  fetchDoctorChatLogs,
  fetchDoctorMessageTemplates,
  getChatCursor,
  updateChatLogCursor
} = useChatLog()

const {
  products,
  fetchProducts
} = useProducts();

// const prescripts = ref([]);
const activePrescript = ref<Prescript | null>(null);
const loadingPrescripts = ref(false);

const {
  prescripts,
  getPrescriptById,
  fetchPrescripts  
} = usePrescript();

const WS_BASE_URL = `${import.meta.env.VITE_APP_WS_HOST}/ws`;

// prescripts
const searchWord = ref('');
const displayPrescripts = computed(() => {
  if (!searchWord.value) return prescripts.value;
  return prescripts.value.filter((p) => {
    return p.customer.first_name.includes(searchWord.value) || p.customer.last_name.includes(searchWord.value)
  })
})
const updatePrescript = async (prescript_no: string) => {
  const prescriptList = await fetchPrescripts();
  const updatedOne = prescriptList.find((p: Prescript) => p.prescript_no == prescript_no)
  if (updatedOne) {
    const activeIndex = prescripts.value.findIndex((p: Prescript) => p.prescript_no == prescript_no);
    if (activeIndex >= 0) {
      prescripts.value.splice(activeIndex, 1, updatedOne);
    }
  }
}

// chat 
const message = ref('');
const formExpanded = ref(false);
const originalCursor = ref<number>(0);
const scrollContainer = ref<HTMLElement | null>(null);

const messageArea = ref<HTMLElement | null>(null);
const scrollDown = () => {
  if (messageArea.value == null) return;
  messageArea.value.scrollTop = messageArea.value.scrollHeight;
};
const scrollToLastRead = () => {
  if (scrollContainer.value) {
    console.log('scroll strt')
    const elemArray = Array.from(scrollContainer.value.children);
    // alert(originalCursor.value)
    const lastReadElement = elemArray.find((c: any) => {
      return c.getAttribute('id') == originalCursor.value
    })  
    if (lastReadElement && messageArea.value) {
      const outerRect = messageArea.value.getBoundingClientRect()
      const elemRect = lastReadElement.getBoundingClientRect()
      if (messageArea.value == null) return;
      window.setTimeout(() => {
        const scroll = elemRect.top - outerRect.height + elemRect.height + 10
        
        messageArea.value?.scrollBy({ top: scroll })  
      }, 100)
    }
  }
}
const getDate = (dateStr: string) => {
  return moment(dateStr).format('yyyy/M/D')
}

const sendMessage = (messageStr: string) => {
  
  if (activePrescript.value == null || activePrescript.value.connection == null) return;
  if (activePrescript.value.connection.readyState != activePrescript.value.connection.OPEN) {
    alert('Connection not open')
    return;
  }
  if (profile.value == null) return;
  const messageJson: ChatLogDto = {
    uuid: profile.value.uuid,
    message: messageStr,
    situation: ""
  };
  activePrescript.value.connection.send(JSON.stringify(messageJson))
  message.value = '';
  
}
const onSendMessage = () => {
  if (message.value.trim() == null) return;
  sendMessage(message.value);
  formExpanded.value = false
}

const getWsConnection = (prescript: Prescript) => {
  // const connection = ref(null);
  const url = `${WS_BASE_URL}/chat/doctor/${prescript.customer.uuid}/?token=${accessToken.value}`;
  const connection = new WebSocket(url);
  connection.onopen = (ev) => {
    console.log('open' + prescript.customer.first_name)
    
  };
  
  connection.onmessage = async (ev: any) => {
    const messageJson: ChatLog = JSON.parse(ev.data);
    const toast = useToast()
    console.log("onmessage")
    if (activePrescript.value != null && activePrescript.value.id == prescript.id) {
      chatLogs.value.push(messageJson);
      await updateChatLogCursor(activePrescript.value.customer?.id || 0, activePrescript.value.id, messageJson.id)
      scrollDown();
      console.log("scroll down")
      if (messageJson.situation) {
        await updatePrescript(activePrescript.value.prescript_no);
        if (messageJson.situation == "accept-info") {
          toast.info(`${activePrescript.value.customer.first_name} ${activePrescript.value.customer.last_name}様が情報提供に同意しました。`)
        } else if (messageJson.situation == "deny-info") {
          toast.warning(`${activePrescript.value.customer.first_name} ${activePrescript.value.customer.last_name}様が情報提供を拒否しました。`)
        
        } else if (messageJson.situation == "accept-prescript") {
          toast.info(`${activePrescript.value.customer.first_name} ${activePrescript.value.customer.last_name}様が処方内容を承認しました。`)
          
          activePrescript.value = null;    
        } else if (messageJson.situation== "deny-prescript") {
          
          toast.error(`${activePrescript.value.customer.first_name} ${activePrescript.value.customer.last_name}様が処方内容を拒否しました。`)
          
        }
        const udpatedPrescript: Prescript = await getPrescriptById(prescript.prescript_no)
        activePrescript.value = { ...udpatedPrescript, connection: activePrescript.value?.connection }
        
      }
    
    } else {
      const targetIndex = prescripts.value.findIndex(p => p.id == prescript.id)
      const target: Prescript = prescripts.value[targetIndex];
      const copy = { ...target }
      if (messageJson.situation) {
        console.log("situatino message")
        if (prescript.customer.id) {
          await updateChatLogCursor(prescript.customer.id, prescript.prescript_no, messageJson.id)
        }
        await updatePrescript(target.prescript_no)
        if (messageJson.situation == "accept-info") {
          toast.info(`${prescript.customer.first_name} ${prescript.customer.last_name}様が情報提供に同意しました。`)
          
        } else if (messageJson.situation == "accept-prescript") {
           toast.info(`${prescript.customer.first_name} ${prescript.customer.last_name}様が処方を承認しました。`)
          activePrescript.value = null;    
        } else if (messageJson.situation== "deny-prescript") {
          toast.info(`${prescript.customer.first_name} ${prescript.customer.last_name}様が処方を拒否しました。`)
        }
        const udpatedPrescript = await getPrescriptById(prescript.prescript_no)
        prescripts.value.splice(targetIndex, 1, { ...udpatedPrescript, connection: prescript.connection });
        // alert('done')
      } else {
        copy.unread_flag = true;  
        prescripts.value.splice(targetIndex, 1, copy);
        
      }
    }
  }
  connection.onclose = (ev) => {
    const newConnection = getWsConnection(prescript);
    
    const index = prescripts.value.findIndex((p: Prescript) => p.id == prescript.id);
    if (index >= 0) {
      const newPrescriptObject = {
        ...prescripts.value[index],
        connection: newConnection
      }
      prescripts.value.splice(index, 1, newPrescriptObject)
      if (prescript.id == activePrescript.value?.id) {
        activePrescript.value = prescripts.value[index]
      }
    }
    
  };
  connection.onerror = (ev) => {
    connection.close();  
  };
  return connection;
}



// templates
const doctorMessageTemplates = ref<MessageTemplate[]>([]);
const showMessageTemplates = ref(false);
const onSelectTemplate = (t: MessageTemplate) => {
  showMessageTemplates.value = false;
  message.value = t.message
  // sendMessage(t.message);
  
};


// prescribe
const showPrescribeProducts = ref(false);
const buildPrescribeMessage = (productList: Product[]) => {
  const plist = productList.map((p: Product) => {
    return p.id;  
  });
  return JSON.stringify(plist);
};
const onNoPrescription = async () => {
  showPrescribeProducts.value = false 
  if (activePrescript.value == null) return;
  const data = await setPrescriptProducts(activePrescript.value.prescript_no, []);
 //  sendMessage()
  const message = "[]"
  sendMessage(message)
  
}
const onPrescribe = async (productList: Product[]) => {
  showPrescribeProducts.value = false;
  if (activePrescript.value == null) return;
  const data = await setPrescriptProducts(activePrescript.value.prescript_no, productList);
  
  const messageStr = buildPrescribeMessage(productList);
  const template2 = doctorMessageTemplates.value.find((t: any) => t.message_flow == 2);
  const template3 = doctorMessageTemplates.value.find((t: any) => t.message_flow == 3);
  const template4 = doctorMessageTemplates.value.find((t: any) => t.message_flow == 4);

  if (template2) {
    window.setTimeout(() => {
      sendMessage(template2.message)  
    }, 100);
  }
  if (template3) {
    window.setTimeout(() => {
      sendMessage(template3.message)  
    }, 500);
  }
  window.setTimeout(() => {
    sendMessage(messageStr);
  }, 1000)
  
  if (template4) {
    window.setTimeout(() => {
      sendMessage(template4.message)
      
    }, 2000)
  }
  window.setTimeout(() => {  
    sendMessage("以上の処方でよろしいでしょうか。<br>良い場合は「はい」変更を希望さ れる場合は、「いいえ」とお応え 下さい。")
  }, 3000)
}

// prescript card modal
const modalProduct = ref<Product | null>(null)
const onShowProductModal = (pId: string) => {
  modalProduct.value = products.value.find((p: Product) => p.id == pId) || null;
  if (modalProduct.value == null) {
    alert('現在販売されていない商品です。' + pId)
  }
}
const checkIfPrescription = (message: string) => {
  try {
    const r = JSON.parse(message);
    return Array.isArray(r) && r.length;
  } catch (err) {
    return false;
  }
}

// 
watch(() => activePrescript.value, async () => {
  if (activePrescript.value == null) return;
  activePrescript.value.unread_flag = false;
  message.value = '';
  
  loadingChatLogs.value = true
  
  const [cur, chatLogData] = await Promise.all([
    getChatCursor(activePrescript.value.prescript_no),
    fetchDoctorChatLogs(activePrescript.value.prescript_no),
  ])
  originalCursor.value = cur.cursor;
  chatLogs.value = chatLogData;
  
  loadingChatLogs.value = false;
  
  if (chatLogs.value.length) {
    const lastLogId = chatLogs.value[chatLogs.value.length - 1].id;
    if (activePrescript.value.customer) {
      await updateChatLogCursor(activePrescript.value.customer.id || 0, activePrescript.value.id, lastLogId || 0);    
    }
  }
  scrollToLastRead()
})
onMounted(async () => {
  loadingPrescripts.value = true
  const [templatesData, prescriptsData, productsData] = await Promise.all([
    fetchDoctorMessageTemplates(),
    fetchPrescripts(),
    fetchProducts()
  ])
  prescripts.value = prescriptsData.filter(p => p.status >= PRESCRIPT_STATUS_SELECT_DOCTOR || p.status == PRESCRIPT_STATUS_DONE);
  doctorMessageTemplates.value = templatesData;
  products.value = productsData;
  
  prescripts.value.map(p => {
    if (p.status == PRESCRIPT_STATUS_ACCEPT_INFO || p.status == PRESCRIPT_STATUS_SELECT_DOCTOR || p.status == PRESCRIPT_STATUS_PRESCRIBED) {
      const conn = getWsConnection(p);
      p.connection = conn;
    }
  })
  loadingPrescripts.value = false
  console.log(prescripts.value)
})

const route = useRoute()

const isMobile = () =>  {
  if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
    return true
  } else {
    return false
  }
}
 
</script>
