<template>
  
  <div ref="contentArea" class="bg-image h-screen w-screen flex flex-col justify-center">
    <div class="mx-auto rounded p-5 w-80">
      <img
        src="@/assets/img/doctor/pesod_logo_doctor.png"
        alt=""
        class="mb-5"
      >
      <form
        class=" "
        :disabled="loading"
        ref="form"
        method="post"
        @submit.prevent="onLogin"
      >
        
        <PInput
          class="mb-10"
          label="メールアドレス"
          id="email"
          type="email"
          :required="true"
          autocomplete="email"
          v-model="formData.email"
          placeholder="example@pesod.com"
          :error="errors.email"
        >
        </PInput>
        
        <PInput
          class="mb-12"
          label="パスワード"
          autocomplete="current-password"
          id="password"
          :type="isPasswordHidden ? 'password' : 'text'"
          v-model="formData.password"
          :hidable="true"
          v-model:isHidden="isPasswordHidden"
          placeholder="英数字8文字以上で入力"
          :error="errors.password"
        >
        </PInput>
      
      
      <div
        class="text-center"
      >
        <button
          :disabled="loading"
          type="submit"
          class="primary mb-10 w-72 sm:block sm:w-full"
        >
          <div class="inline-block">
            ログイン
          </div>
          <svg
          class=" w-6 h-6 float-right"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
        </button>
        <div>
          <a @click="router.push({ name: 'PasswordResetSendLink' })" class="cursor-pointer text-sm  ">パスワードをお忘れの方はこちら</a>
        </div>
      </div>
      </form>
    </div>
    
  </div>
</template>
<style scoped lang="scss">
  .bg-image {
    background-image: url(/img/top_bk_PC.png);
    background-size: contain;
  }
  @keyframes rumble {
    0%   { transform:translate(0); }
    25%  { transform:translate(1px) rotate(1deg); }
    50%  { transform:translate(0, 0); }
    75%  { transform:translate(-1px) rotate(-1deg); }
    100% { transform:translate(0); }
  }
    
  form.error {
    animation: rumble 0.1s ease-in-out 2;
    * {
      color: red !important;;
    }
  }
</style>
<script setup lang="ts">
import { onBeforeUnmount, ref, Ref, onMounted } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { Login } from '@/types/Interfaces';

import {formRequired, emailValidator, validate} from '@/mixins/FormValidator';

import useAuth from '@/types/Auth';
const router = useRouter();

const {
  createToken,
  removeAuthInfo,
  storeAuthInfo
} = useAuth();

const formData = ref<Login>({
  email: '',
  password: '' 
});

const errors: Ref<{ [key: string]: string }> = ref({
  email: '',
  password: ''  
});

const validators: { [key: string]: Function[] } = {
  email: [
    formRequired,
    emailValidator
  ],
  password: [
    formRequired
  ]
}

const contentArea = ref<HTMLElement | null>(null);
const setHeight = () => {
  if (contentArea.value == null) return;
  console.log('set height')
  contentArea.value.style.minHeight = `${window.innerHeight}px`;
  contentArea.value.style.maxHeight = `${window.innerHeight}px`;
}
onMounted(() => {
  removeAuthInfo()
  setHeight();
  window.addEventListener('resize', setHeight)
});
onBeforeUnmount(() => {
  window.removeEventListener('resize', setHeight)
})
const form = ref<HTMLFormElement | null>(null);


const loading = ref(false);

const onLogin = async (event: Event) => {
  
  if (!validate(formData.value, validators, errors)) return;
  
  try {
    loading.value = true;
    const authInfoData = await createToken(formData.value);
    storeAuthInfo(authInfoData);
    router.push({ name: 'Dashboard' });
  } catch (err) {
    if (form.value) {
      form.value.classList.add('error');
      window.setTimeout(() => {
        form.value?.classList.remove('error')
      }, 200)
    }
    
  }
  loading.value = false;
  
};
const isPasswordHidden = ref(true);

</script>