<template>
  <div class="mx-auto flex flex-col transform bg-white shadow-lg rounded-lg w-full sm:w-4/5 md:w-3/4 mt-12" style="min-height: 200px; max-height: 80%">
    <div class="bg-blue-200 text-white rounded-tr-lg rounded-tl-lg py-2 text-xs sm:text-sm">
      <slot name="header"></slot>
    </div>
    <div class="flex-grow p-4 overflow-y-auto overflow-x-auto">
      <slot name="body"></slot>
    
    </div>
    <div class="bg-gray-50 rounded-br-lg rounded-bl-lg py-2 px-4">
      <div class="flex justify-between">
        <slot name="footer"></slot>  
      </div>
    </div>
    
  </div>
</template>
