<template>
  <div
    class="fixed z-10 inset-0 overflow-y-auto w-full"
  >
    <div
      class="flex flex-col justify-center h-screen px-4 text-center w-screen "
      :style="{ 'height': screenHeight ? screenHeight + 'px' : '100vh' }">
   
      <div
        @click="onClickOutside()"
        class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>

     
      <slot name="default" class="">
      </slot>
    </div>
  </div>
</template>
<script setup lang="ts">
import useAppState from '@/types/AppState';

const emit = defineEmits([
  "close"
])
const {
  screenHeight  
} = useAppState()

const onClickOutside = () => {
  emit('close');
};
  

    
</script>
