<template>
  <div class="h-10 sm:h-12 fixed top-0 left-0 z-50 shadow w-full bg-blue-300  text-white">
    
    <div class="relative h-full flex items-center px-10">
      <div class="">
        <img class="h-8" src="@/assets/img/Pesod_logo_doctor_s.png" alt="">
        <!-- <pix-cardio-logo /> -->
      </div>
      
      <div v-if="profile != null" class="relative flex items-center ml-auto">
        <div class="hidden sm:block">ようこそ {{ profile.first_name }} {{ profile.last_name }} 様</div>
        <div>  
          <svg
            @click="onClickMenu"
            class="h-6 w-6 ml-5 cursor-pointer"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
          </svg>
          
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { useRouter } from 'vue-router';

import useAuth from '@/types/Auth';

const router = useRouter();
const emit = defineEmits([
  "showSidebar"
])
const {
  profile,
} = useAuth();

const onClickMenu = () => {
  emit('showSidebar')
}
</script>
