<template>
  <label class="inline-flex items-center">
    <input
      @change="onChange"
      type="checkbox"
      :disabled="Boolean($attrs.disabled)"
      class=" h-6 w-6 text-gray-600" :checked="modelValue"><span class="ml-2 text-gray-700">
      {{ $attrs.label }}
    </span>
  </label>
</template>
<style scoped>
  
</style>
<script setup lang="ts">
import { SetupContext } from 'vue';
const props = defineProps<{ modelValue: boolean }>()
const emit = defineEmits([
  'update:modelValue'
])
const onChange = (e: Event) => {
  const { target } = e;
  if (!(target instanceof HTMLInputElement)) return;
  
  emit('update:modelValue', target.checked);
};
</script>