<template>
  <div>
    <label
      :for="String($attrs.id)"
      class="text-sm font-semibold"
      :class="{ 'text-red-600': error }"
    >
      {{ $attrs.label }}
    </label>
    <select
      
      @change="onChange"
      :id="String($attrs.id)"
      class="border-b focus:border-blue-500 focus:outline-none py-3 w-full block "
    >
      <option
        v-for="(o, i) in options"
        :key="i"
        :selected="o.value == modelValue"
      >
        {{ o.text }}
      </option>  
    </select>
    <div
      v-if="error"
      class="text-left text-sm text-red-400 font-thin"
    >
      {{ error }}
    </div>
  </div>
</template>
<script setup lang="ts">
interface Option{
  text: string;
  value: any;
}
interface Props{
  modelValue: string;
  options: Option[];
  error?: string;
}
const props = withDefaults(defineProps<Props>(), {
  error: ""
})
const emit = defineEmits([
  'update:modelValue'
])
const onChange = (event: Event) => {
  const {target} = event;
  if (!(target instanceof HTMLInputElement)) return;
  emit('update:modelValue', target.value);
}
</script>