<template>
  <div>
    <div
      class="relative leading-8 text-left border-b border-black focus-within:border-blue-500"
      :class="{ 'border-red-600': error, 'border-gray-400': $attrs.disabled }"
    >
      <label
        :for="String($attrs.id)"
        class="text-sm font-semibold"
        :class="{ 'text-red-600': error }"
      >
        {{ $attrs.label }}
      </label>
      <div class="relative">
        <input
          ref="inputElement"
          :placeholder="String($attrs.placeholder)"
          :id="String($attrs.id)"
          :type="String($attrs.type)"
          :value="modelValue"
          :autocomplete="String($attrs.autocomplete ? $attrs.autocomplete : 'on')"
          @input="onInput"
          :disabled="Boolean($attrs.disabled)"
          class="block w-full appearance-none focus:outline-none"
          :class="{ 'text-gray-600 ': $attrs.disabled }"
        >
      
        <div
          v-if="hidable"
          class="absolute right-1 top-0 h-full table-cell align-middle"
        >
          <img
            v-if="!isHidden"
            class="inline-block"
            @click="updateHidden(true)"
            src="@/assets/img/pass_eye.png" alt=""> 
          <img
            v-else
            class="inline-block"
            @click="updateHidden(false)"
            src="@/assets/img/pass_eye_on.png" alt=""> 
          
        </div>
        
      </div>
      
    </div>
    
    <div
      v-if="error"
      class="text-left text-sm text-red-400 font-thin"
    >
      {{ error }}
    </div>
  </div>
</template>
<style lang="scss" scoped >
  
</style>
<script setup lang="ts">
import { onMounted, watch, ref, SetupContext } from 'vue';

interface Props{
  modelValue: string;
  error?: string;
  hidable?: boolean;
  isHidden?: boolean;
}
const props = withDefaults(defineProps<Props>(), {
  error: "",
  hidable: false,
  isHidden: false
})
const emit = defineEmits([
  'update:modelValue',
  'update:isHidden'
])
    
    
const inputElement = ref<HTMLInputElement | null>(null);


const onInput = (e: Event) => {
  const { target } = e;
  if (!(target instanceof HTMLInputElement)) return;
  const { value } = target;
  emit('update:modelValue', value);
};

const updateHidden = (val: boolean) => {
  emit('update:isHidden', val);
}

</script>