<template>
  <div class=" h-screen w-screen bg-transparent shadow-lg z-50">
    <div @click="onClose" class="absolute w-full h-full left-0 w-screen h-screen opacity-10 bg-gray-50">
      
    </div>
    <div class="w-48 sm:w-1/4 py-8 fixed right-0 bg-white h-full shadow-2xl">
      <div>
        <ul>
          <li
            @click="route.name != m.route && router.push({ name: m.route })"
            v-for="(m, i) in menus"
            :key="i"
            class=" p-2 py-4 text-sm "
            :class="{ 'bg-primary-light': route.name == m.route, 'hover:bg-blue-100 cursor-pointer': route.name != m.route }"
          > 
            {{ m.text }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { useRouter, useRoute } from 'vue-router'
const emit = defineEmits([
  "close"
])
const router = useRouter()
const route = useRoute()

interface Menu{
  text: string;
  route: string;
}
const menus: Menu[] = [
  {
    text: "ログアウト",
    route: "Login"
  }
]
const onClose = () => {
  emit('close')
}
</script>