<template>
  <BaseModal>
    <template v-slot:header>
      処方商品選択
    </template>
    <template v-slot:body>
      <div class="mb-3 grid sm:grid-cols-1 gap-1 ">
        <div
          v-for="(p, i) in products.filter((p: any) => p.drug_class <= 4)"
          :key="i"
          class="col-span-1"
        >
          <ProductListCard
            :product="p"
            @update:toPrescribe="updateToPrescribe(p, $event)"
            @click="updateToPrescribe(p, !isToPrescribe(p))"
            :toPrescribe="isToPrescribe(p)"
            class="cursor-pointer"
          ></ProductListCard> 
        </div>
        
      </div>
    </template>
    <template v-slot:footer>
      <div class="w-full relative flex justify-between">
        <button @click="onNoPrescription" class=" text-sm border w-40">
          処方提案せずに終了
        </button>
        <button
          @click="onPrescribe"
          class="shadow-sm bg-primary text-white rounded text-sm w-64"
          :disabled="!productsToPrescribe.length"
        >
          処方提案
        </button>
        <button
          @click="onClose"
          class=" text-sm border w-40"
        >
          閉じる
        </button>
      </div>
      
      
    </template>
  </BaseModal>
</template>
<script setup lang="ts">
import { ref, onMounted, SetupContext } from "vue";
import { Product } from '@/types/Interfaces';
import ProductListCard from './ProductListCard.vue';

import BaseModal from '@/components/BaseModal.vue';
const props = defineProps<{ products: Product[] }>()
const emit = defineEmits([
  'close',
  'prescribe',
  'no-prescription'
])
   
const productsToPrescribe = ref<Product[]>([]);

const onNoPrescription = () => {
  emit("no-prescription")
}
const onPrescribe = () => {
  emit('prescribe', productsToPrescribe.value);
};

const onClose = () => {
  emit('close')  
};

const isToPrescribe = (p: Product) => {
  return productsToPrescribe.value.find((p2p: Product) => p.id === p2p.id) != null;
};
const updateToPrescribe = (p: Product, value: boolean) => {
  
  if (value) {
    if (productsToPrescribe.value.length >= 2) {
      alert("一度に処方できるのは２商品までです。")
      return
    }
    productsToPrescribe.value.push(p)
  } else {
    const index = productsToPrescribe.value.findIndex((p2p: Product) => p.id === p2p.id);
    if (index >= 0) {
      productsToPrescribe.value.splice(index, 1);
    }
  }
};
</script>
