<template>
  <BaseModal>
    <template v-slot:header>
      商品詳細
    </template>
    <template v-slot:body>
      <div class="text-xs sm:text-sm">
        <div>
          <img
            :src="product.image"
            class="mx-auto w-32 sm:w-36"
          >
        </div>
        <div>
          
          <div
            style="font-size: 14px; font-weight: 600; margin-bottom: 20px"
          >
            {{ product.name }}
          </div>
          <table class="mx-auto" style="width: 300px; margin-bottom: 25px">
            <tbody>
              <tr>
                <th style="text-align-last: justify; text-justify: inter-ideograph;">医薬品分類</th>
                <td>{{ product.categories }}</td>
              </tr>
              <tr>
                <th style="text-align-last: justify; text-justify: inter-ideograph;">製造会社</th>
                <td>{{ product.maker }}</td>
              </tr>
              <tr>
                <th style="text-align-last: justify; text-justify: inter-ideograph;">入数</th>
                <td>{{ product.quantity }}</td>
              </tr>
              
            </tbody>
          </table>
          <div class="mb-5 text-left" style="font-size: 14px">
            <div class="font-semibold " >用法・容量</div>
            <div class="mb-5" v-html="product.dose">
            </div>
            <div class="font-semibold text-left">注意事項</div>
            <div v-html="product.usage">
            </div>

          </div>
         
        </div>
      </div>
    </template>
    <template v-slot:footer>
      <button
        @click="onClose"
        class="ml-auto border"
      >
        閉じる
      </button>
    </template>
    
  </BaseModal>
</template>
<script setup lang="ts">
import { Product } from '@/types/Interfaces';
import BaseModal from '@/components/BaseModal.vue'
const props = defineProps<{ product: Product }>()
const emit = defineEmits([
  'close',
  'select:template'
])
    
const onClose = () => {
  emit('close')  
};
</script>
