<template>
  <div
    :class="{ 'bg-primary-light': toPrescribe }"
    class="text-xs sm:text-sm flex h-full items-center px-3 py-2 hover:bg-blue-100 shadow rounded">
    <div>
      <p-checkbox
        :modelValue="toPrescribe"
      >
      </p-checkbox>
    </div>
    <div class="ml-4 flex-shrink-0">
      
      <img
        :src="product.image"
        alt=""
        class="w-16 sm:w-36"
      >
    </div>
    <div class="flex-grow text-left ml-4">
      <div class="mb-2">
        {{ product.name }}
      </div>
      <table class="text-xs">
        <tbody>
          <tr>
            <th>製造会社</th>
            <td>{{ product.maker }}</td>
          </tr>
          <tr>
            <th>入数</th>
            <td>{{ product.quantity }}</td>
          </tr>
          <tr>
            <th>金額</th>
            <td>{{ (product.unit_price || 0).toLocaleString() }}</td>
          </tr>
          
        </tbody>
      </table>
      
    </div>
  </div>
</template>
<style scoped lang="scss">
  table {
    tr {
      th {
        white-space: nowrap;
        font-weight: 600;
        text-align-last: justify;
        text-justify: inter-ideograph;
      }
      td {
        padding: 1px 10px;
      }
    }
  }
</style>
<script setup lang="ts">
import { Product } from '@/types/Interfaces';
import { useRoute, useRouter } from 'vue-router';

interface Props{
  product: Product;
  toPrescribe: boolean;
}
const props = defineProps<Props>()

const emit = defineEmits([
  'update:toPrescribe'
])
const router = useRouter();

const onCheck = (e: boolean) => {
  emit('update:toPrescribe', e);

};
</script>