<template>
  <BaseModal>
    <template v-slot:header>
      テンプレートを選択してください
    </template>
    <template v-slot:body>
      <div v-if="templates.length" class=" relative overflow-y-auto" style="height: 300px">
        <div class="absolute w-full overflow-scroll">
          <table class="text-sm ">
            <tbody>
              <tr @click="onSelect(t)" class="hover:bg-blue-50 cursor-pointer border-b border-gray-300" v-for="(t, i) in templates" :key="i">
                <th class="flex flex-col p-2 ">
                  {{ t.subject }}
                </th>
                <td v-html="t.message" class=" text-left p-2">
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
      <div
        class=""
        v-else
      >
        選択可能なテンプレートがありません。
        
      </div>
    </template>
    <template v-slot:footer>
      <button
        @click="onClose"
        class="ml-auto sm:test-sm text-xs border"
      >
        閉じる
      </button>
    </template>
  
  </BaseModal>
</template>
<script setup lang="ts">
import { ref, onMounted, SetupContext } from "vue";
import { MessageTemplate } from '@/types/Interfaces';
import BaseModal from '@/components/BaseModal.vue'
import { htmlify } from "@/mixins/utils";
const props = defineProps<{ templates: MessageTemplate[] }>()
const emit = defineEmits([
  'close',
  'select:template'
])

const onClose = () => {
  emit('close')  
};
const onSelect = (t: any) => {
  emit('select:template', t);
}  
</script>
