<template>
  <router-view/>
</template>

<style lang="scss">

#app {
  // f ont-family: 'Lato', 'Noto Sans JP', 'メイリオ', Meiryo, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
<script setup lang="ts">
import { onMounted } from 'vue'
import useAuth from '@/types/Auth'

const {
  authInfo,
  getAuthInfoFromLS,
} = useAuth();

onMounted(() => {
  authInfo.value = getAuthInfoFromLS()
})

</script>
