@tailwind base;
@tailwind components;
@tailwind utilities;

/* input[type="text"],
input[type="password"] {
  @apply rounded border border-black px-2 py-1 shadow-lg;
} */
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus::-ms-input-placeholder {
  color: transparent;
}
input:focus::placeholder {
  color: transparent;
}
body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial,
    Helvetica, sans-serif !important;
}
button {
  @apply disabled:opacity-50 px-4 py-2 focus:outline-none sm:w-auto font-medium rounded;
}

button.primary {
  @apply text-white;
  background-color: #0aa2e8;
}

.bg-primary {
  background-color: #0aa2e8;
}
.bg-primary-light {
  background-color: #c4e2ff;
}

button.secondary {
  @apply bg-white border border-gray-600 text-black;
}

.hilight {
  @apply border;
  background-color: #cceaff;
}
button.error {
  @apply bg-red-500 text-white;
}

button.image {
  padding: 0;
  border: none;
  background: transparent;
}

button img {
  display: block;
}
