<template>
  <BaseModal>
    <template v-slot:header>
      エラー
    </template>
    <template v-slot:body>
      <div class="text-xs sm:text-sm text-red-600" v-html="error"></div>
    </template>
    <template v-slot:footer>
      <button class="ml-auto border" @click="onClose">
        閉じる
      </button>
    </template>
    
  </BaseModal>
</template>
<script setup lang="ts">
import BaseModal from '@/components/BaseModal.vue'

const props = withDefaults(defineProps<{ error?: string }>(), {
  error: ""
})
const emit = defineEmits([
  "close"
])
const onClose = () => {
  emit('close')
}
</script>