<template>
  <div
    ref="contentArea"
    class="flex flex-col bg-white overflow-none"
  >
    <Navbar @showSidebar="showSidebar = true" class="h-12 fixed top-0" />
    <Sidebar v-if="showSidebar" @close="showSidebar = false" class="absolute top-0"/>
    <slot name="default">
    </slot>
    <FrameModal v-if="apiError" @close="apiError = ''">
      <ApiErrorModal
        :error="apiError"
        @close="apiError = ''"
      />
    </FrameModal>
  </div>
</template>
<style scoped>

</style>
<script setup lang="ts">
import Vue, { onMounted, onBeforeUnmount, SetupContext, ref } from 'vue'
import Sidebar from '@/components/Sidebar.vue'
import Navbar from '@/components/Navbar.vue'
import useAppState from '@/types/AppState'
import ApiErrorModal from './ApiErrorModal.vue'
const showSidebar = ref(false);
const {
  apiError,
  screenHeight
} = useAppState()

const contentArea = ref<HTMLElement | null>(null);
const setHeight = () => {
  if (contentArea.value == null) return;
  console.log('set height')
  contentArea.value.style.minHeight = `${window.innerHeight}px`;
  contentArea.value.style.maxHeight = `${window.innerHeight}px`;
  screenHeight.value = window.innerHeight;
}
onMounted(() => {
  setHeight();
  window.addEventListener('resize', setHeight)
});
onBeforeUnmount(() => {
  window.removeEventListener('resize', setHeight)
})
</script>