<template>
  <div>
    <div class="inline-block font-thin rounded-full bg-gray-100 px-3 py-1 text-xs text-gray-600">
      {{ display }}
    </div>
  </div>
</template>
<script setup lang="ts">
import moment from 'moment';

const props = defineProps<{ dateStr: string }>()
const display = moment(props.dateStr).format('YYYY/M/D')
    
</script>
