<template>
  <div
    :id="chatLog.id?.toString()"
    class="flex items-end px-1"
    :class="{ 'justify-end': isMyMessage }"
  >
    
    <div
      class="flex items-end space-y-1 mx-2"
      :class="{ 'flex-row-reverse ': isMyMessage }"
      
    >
      <span
        @click="onClickMessage"
        v-html="htmlify(chatLog.message)"
        :class="{ 'rounded-bl-none bg-gray-100': !isMyMessage, 'rounded-br-none': isMyMessage }"
        class="text-left sm:max-w-sm md:max-w-md break-words leading-5 px-4 py-4 rounded-lg inline-block text-gray-600 "
        style="line-height: 22px"
        :style="{ 'font-size': '12px', 'background-color': isMyMessage ? 'white' : '' }"
      >
        
      </span>
      <div style="font-size:11px" class=" mx-2 text-gray-500">
        {{ getFormattedDate(chatLog.created_at, 'H:mm') }}
      </div>
    </div>
    
  </div>
</template>
<script setup  lang="ts">

import { htmlify, getFormattedDate } from '@/mixins/utils';
import { ChatLog } from '@/types/Interfaces';

interface Props{
  chatLog: ChatLog;
  isMyMessage: boolean
}
const props = withDefaults(defineProps<Props>(), {
  isMyMessage: false
})

const emit = defineEmits([
  'showProductDetail'
])
   
const onClickMessage = (ev: Event) => {
  const {target} = ev;
  if (target == null) return;
  const elem = target as HTMLElement;
  const pId = elem.getAttribute('data');
  if (pId == null) return;
  emit('showProductDetail', pId)
}

</script>