<template>
  <div
    class="text-xs flex-shrink-0"
    :class="{ 'bg-blue-100': isActive, 'bg-gray-100': !isActive }"
  >
    <img v-if="!isActive" class="" src="@/assets/img/doctor_end_short.png" alt="">
    <img v-else class="" src="@/assets/img/doctor_now_short.png" alt="">
  
  </div>
</template>
<style scoped>
  img {
    width: 40px;
    height: auto;
  }
</style>
<script setup lang="ts">
import usePrescript from '@/types/Prescript'
import { computed, SetupContext } from 'vue'

const props = defineProps<{ status: number }>()

const {
  PRESCRIPT_STATUS_SELECT_DOCTOR,
  PRESCRIPT_STATUS_DONE,
  PRESCRIPT_STATUS_EXAM_DONE,
  PRESCRIPT_STATUS_ACCEPT_INFO,
  PRESCRIPT_STATUS_PRESCRIBED
    
} = usePrescript()

const isActive = computed(() => {
  return [PRESCRIPT_STATUS_ACCEPT_INFO, PRESCRIPT_STATUS_SELECT_DOCTOR, PRESCRIPT_STATUS_PRESCRIBED].includes(props.status)
})
</script>