<template>
   <div
    class="relative py-4 px-3 flex gap-1 items-center  border-b border-gray-100  hover:bg-blue-100 text-sm w-full"
    :class="{ 'border-2 border-blue-400': isActive, 'cursor-pointer': [PRESCRIPT_STATUS_ACCEPT_INFO, PRESCRIPT_STATUS_SELECT_DOCTOR].includes(prescript.status) }"
  >
    <div class="flex-shrink-0">
      <UserIcon
        :iconType="prescript.customer.icon_type"
      />
      
    </div>
    <div
      class=" flex flex-auto flex-col text-left overflow-hidden overflow-ellipsis"
    >
      <div
        class="ml-3 flex flex-col text-left"
      >
        <div class="flex items-center">
          <div class=" text-gray-600 mb-1">
            <div class="user-name-kana">
              {{ prescript.customer.first_kana }} {{ prescript.customer.last_kana }}
            </div>
            <div class="overflow-hidden whitespace-nowrap overflow-ellipsis font-normal flex items-center">
              {{ prescript.customer.first_name }} {{ prescript.customer.last_name }}
            </div>
          </div>
          
        </div>
        
        
        
        <table class="text-xs text-gray-400 ">
          <tbody>
            <tr class="border-gray-100">
              <th class="" >ID</th>
              <td align="left">{{ prescript.customer.id }}</td>
            </tr>
            <tr class=" border-gray-100 ">
              <th class="">情報提供</th>
              <td>
                <fa v-if="infoShareAccepted" color="lightgreen" icon="user-check" />
                <fa v-else color="red" icon="times" />
              </td>
            </tr>
            <tr>
              <th>年齢</th>
              <td>{{ prescript.customer.age ? `${prescript.customer.age}歳` : "-" }}</td>
            </tr>
            
            
          </tbody>
        </table>
        
      </div>
      
      
    </div>
    <div class="flex-shrink-0 h-full flex flex-col justify-center bg-transparent">
       <PrescriptCardStatus
        class="my-auto"
        :status="prescript.status"
        ></PrescriptCardStatus>
    </div>
   
    <div v-if="prescript.unread_flag" class="absolute left-1 top-2 flex h-3 w-3">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-purple-400 opacity-75"></span>
      <span class="relative inline-flex rounded-full h-3 w-3 bg-purple-500"></span>
    </div>
   
  </div>
</template>
<style lang="scss" scoped>
  th, td {
    font-size: 12px;
    line-height: 14px;
  }
  th {
    // width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
  }
  td {
    width: 100%;
  }
  .user-name-kana {
    font-size: 8px;
    line-height: 10px;
    
  }
</style>
<script setup lang="ts">
import { Prescript } from "@/types/Interfaces";
import usePrescript from "@/types/Prescript";
import { computed } from "vue";
import PrescriptCardStatus from './PrescriptCardStatus.vue';
import {getFormattedDate} from "@/mixins/utils"

interface Props{
  prescript: Prescript;
  isActive?: boolean;
}

const props = withDefaults(defineProps<Props>(), {
  isActive: false
})

const {
  PRESCRIPT_STATUS_STARTED,
  PRESCRIPT_STATUS_QUES_DONE,
  PRESCRIPT_STATUS_SELECT_DOCTOR,
  PRESCRIPT_STATUS_ACCEPT_INFO,
  PRESCRIPT_STATUS_EXAM_DONE,
  PRESCRIPT_STATUS_RESULT_CONFIRMED,
  PRESCRIPT_STATUS_DONE,  
} = usePrescript()

interface StatusColor{
  color: string;
  text: string;
}
const infoShareAccepted = computed(() => {
  return props.prescript.status >= PRESCRIPT_STATUS_ACCEPT_INFO || props.prescript.status == PRESCRIPT_STATUS_DONE
})
const status = computed((): StatusColor => {
  if (props.prescript.status == PRESCRIPT_STATUS_SELECT_DOCTOR) {
    return {
      color: "#c4e2ff",
      text: "医師選択済み"
    }
  } else if (props.prescript.status == PRESCRIPT_STATUS_ACCEPT_INFO) {
    return {
      color: "#0aa2e8",
      text: "同意済み"
    }
  } else if (props.prescript.status == PRESCRIPT_STATUS_EXAM_DONE) {
    return {
      color: "gray",
      text: "診察完了"
    }
  } else if (props.prescript.status == PRESCRIPT_STATUS_RESULT_CONFIRMED) {
    return {
      color: "#333333",
      text: "処方確認完了"
    }
  } else if (props.prescript.status == PRESCRIPT_STATUS_DONE) {
    return {
      color: "darkgray",
      text: "手続き完了"
    }
  } else {
    return {
      color: "",
      text: ""
    }
  }
  
})
</script>